<!--div class="titHead">PLATAFORMA DE FORMACIÓN CONTINUA EN ROBÓTICA Y PROGRAMACION PARA NIVEL PRIMARIO</div-->
<div class="slideshow-container">
	<ui-carousel slides="$ctrl.slides" on-init="$ctrl.onCarouselInit()" slides="ctrl.slides"
	slides-to-show="1"
	slides-to-scroll="1"
	initial-slide="1"
	autoplay="true"
	autoplay-speed="4000"
	arrows="true"
	dots="false"
	cssEase="easy"
	>
	   
	<div  class="mySlides fade">
		<carousel-item>				
		<div class="divslide" layout="row" layout-align="center center" ng-style="{'background': 'linear-gradient(to bottom, rgba(47, 45, 45, 0), rgb(88, 85, 85)), url({{item.url}})'}">
			<div class="ban_content">
				<div class="subhead">{{item.titulo}}<br>{{item.titulo2}} </div>
				<div class="legend"><p class="texto">{{item.texto}}</p></div>
			</div>
		</div>
		
		 </carousel-item>
	    
	</ui-carousel>  
</div>    
</div>
<div style="height: 10px; background: #8BBF1F"></div>

<div class="cont">
	<div class="row" style="background-color: #5EA7F1;">					
		<div class="disText">
			<h4 class="impact-text-large" style="text-align: center; color: white; font-family: DINNextRoundedLTPro-Regular;">Robótica educativa para primarias</h4>
			<p style="text-align: center; color: white; font-size: 15px;
			line-height: 23px ;  font-family: DINNextRoundedLTPro-Medium;">
			El uso de la robótica en el aula, y de las herramientas que ofrecen las nuevas tecnologías, fomentan un aprendizaje innovador y colaborativo a la vez que impulsan el aprendizaje basado en proyectos, permitiendo a los alumnos trabajar interdisciplinariamente y desarrollar habilidades y competencias necesarias para su inserción plena en la sociedad del conocimiento.
			</p>				
			<img ng-src="assets/robotica_educativa_icon.png" alt="Logo">				
		</div >				
		<div class="estiloflech"></div>
	</div>
</div>


<div class="cont">
	<div class="disText">
			<p class="impact-text-large titulos" style=" text-align: center; color: #5EA7F1; font-family: pacifico-regular, sans-serif;">¿Cómo empezar?</p>				
			
			
		</div >
<div style="background-color: white;">			
	<div class="respNum">
		<div flex-gt-sm="100" flex= "33"  style=" text-align: center;" ng-click="$ctrl.ircomoempezar(1)">
			<img  ng-src="assets/num1.png" class="pointer">
			<p class="pcomoempezar">
				<a class="acomoempezar" >¿QUE ES EL PENSAMIENTO <BR>COMPUTACIONAL?</a>
			</p>					
		</div>
		<div flex-gt-sm="100" flex= "33" style="text-align: center;" ng-click="$ctrl.ircomoempezar(2)">
			<img  ng-src="assets/num2.png" class="pointer" >
			<p class="pcomoempezar">
				<a class="acomoempezar" >¿CÓMO EMPIEZO <BR>A PROGRAMAR?</a>
			</p>					
		</div>
		<div  flex-gt-sm="100" flex= "33" style="text-align: center;" ng-click="$ctrl.ircomoempezar(3)">
			<img ng-src="assets/num3.png" class="pointer">
			<p class="pcomoempezar">
				<a class="acomoempezar" >¿CÓMO PUEDO APLICAR <BR>LA RÓBOTICA EDUCATIVA?</a>
			</p>					
		</div>
	</div>			
</div>
</div>





<div class="cont">
	<div class="row">
		<div style="height: 50px; min-height: 0; margin-bottom: 0!important;"></div>
	</div>
</div>

<div class="cont">
	<div class="rowparallax imgfondo" style="background-image: url(/assets/img/banner/ejemplo.jpg)">
		
		<div class="textKit">
			<p class="impact-text-large titulos" style="text-align: center; color: white; font-family: pacifico-regular, sans-serif;">Propuestas pedagógicas</p>
			
		</div >
		<div class="cardsgral">
			<div class="cards">
				<rd-waterfall item-width="350" gutter="24" load-more-text="Ver más recursos" fetch="$ctrl.fetchData()" search-text="$ctrl.searchText" max-items="3" >
					<rd-item-template>           
						<orientacionpedagogica-card resource="item" editable="item.type !== 'addnew'" vista="'social'"></orientacionpedagogica-card>
					</rd-item-template>
				</rd-waterfall>
			</div>
		</div>		
		<div style="margin-left: auto; margin-right: auto; text-align: center; padding-bottom: 10%;
		padding-top: 10%;">
			<a style="text-align: center; color: white; font-family: DINNextRoundedLTPro-Regular; font-size: 15pt; " ui-sref="social.orientacionpedagogica">ver mas</a>
		</div>		
	</div>
</div>
<div class="cont">
	<div class="row">
		<div style="height: 50px; min-height: 0; margin-bottom: 0!important;"></div>
	</div>
</div>

<div class="cont">
	<div class="rowparallax">
		<div class="textKit">
			<p class="impact-text-large titulos" style="text-align: center; font-family: pacifico-regular, sans-serif; color: #8BBF1F">Kits tecnológicos</p>
			<p style="text-align: center; color: white; font-size: 15px;
			line-height: 23px;">

			</p>
			<a ui-sref="social.kitsDisponibles"  target="_blank" rel="noopener noreferrer"  ng-disabled="true">
				<img class="responsive" ng-src="/assets/img/banner/slider_kit.jpeg" alt="Logo">
				</a>
		</div>
		<!--div class="cardsgral">
			<div class="cards">
				<rd-waterfall item-width="350" gutter="24" load-more-text="Ver más recursos" fetch="$ctrl.fetchDataKit()"  search-text="$ctrl.searchText">
					<rd-item-template>           
						<kit-card resource="item" editable="item.type !== 'addnew'" vista="'social'"></kit-card>
					</rd-item-template>
				</rd-waterfall>
			</div>
		</div-->
	</div>
</div>

<!--div class="cont">
	<div class="rowparallax">
			<div class="textKit">
					<p class="impact-text-large titulos" style="text-align: center; font-family: pacifico-regular, sans-serif; color: #8BBF1F">Kits tecnológicos</p>
					<p style="text-align: center; color: white; font-size: 15px;
					line-height: 23px;">
		
					</p>
				</div>
<!--div  style="background-image: url(/assets/img/banner/slider_contanos.jpg); width: 100%; height: auto;"></div-->
<!--a href="/kitsDisponibles"  ng-disabled="true">
<img class="responsive" ng-src="/assets/img/banner/slider_kit.jpeg" alt="Logo">
</a>
</div>
</div-->	


<div class="cont">
	<div class="row">
		<div style="height: 50px; min-height: 0; margin-bottom: 0!important;"></div>
	</div>
</div>	
<div class="cont">
	<div class="rowparallax">
<!--div  style="background-image: url(/assets/img/banner/slider_contanos.jpg); width: 100%; height: auto;"></div-->
<a href="https://goo.gl/forms/bvPHnq7cuocWqFvd2"  target="_blank" rel="noopener noreferrer"  ng-disabled="true">
<img class="responsive" ng-src="/assets/img/banner/slider_contanos.jpg" alt="Logo">
</a>
</div>
</div>	