<div class="kview" >
	<div class="kview__wrapper" layout-gt-xs="row">
		<div class="one_half"  layout="column" flex="100"> <!--flex="85"-->
			<section>
				<div class="kview__content bg-{{$ctrl.resource.type}}" flex>
					<div  layout="row" layout-padding layout-align="center top"></div>
					<div flex >
						<p><strong>{{ $ctrl.resource.createdAt | amDateFormat:'D MMMM YYYY' }}</strong></p>
						<h4 class="margin" style="font-family: DINNextRoundedLTPro-Regular;">{{$ctrl.resource.objetivo}}</h4>
						<div layout="row" layout-gt-xs="column" ng-hide="$ctrl.deleteDesafioBoolean">
							<div flex class="preview-glyphs">
								<md-icon ng-repeat="area in $ctrl.resource.area" style="font-size: 48px; height: 48px" class="{{$ctrl.getFieldClass(area)}}"></md-icon>
							</div>
							<div flex class="rd-card__body--custom">
								<p class="rd-card__paragraph ng-binding"><strong ng-repeat="area in $ctrl.resource.area"> {{area}} </strong></p>
							</div>
						</div>

					</div>


						<p flex class="paragraph post__test kview__summary">{{$ctrl.resource.descripcion}}</p>
						
						
						<!--div >
							<div flex="none">
								<p><strong>NAP Relacionados:</strong></p>
							</div>
							<div >
								<rd-post  flex class="kview__post" modules="$ctrl.resource.potencialidades" relative="$ctrl.uid" readonly="true"></rd-post>
							</div>
						</div>
						<div >
							<div flex="none" style="margin-bottom: 10px;">
								<p><strong>Habilidades:</strong></p>
							</div>
							<div >
								<rd-post  class="kview__summary" modules="$ctrl.resource.habilidad" relative="$ctrl.uid" readonly="true"></rd-post>
							</div>
						</div-->
						<div flex >
							<rd-post flex class="kview__post" modules="$ctrl.resource.postBody" relative="$ctrl.uid" readonly="true"></rd-post>
						</div>
						<!--div flex="100" ng-hide="$ctrl.resource.thumbnail === ''">
							<img  ng-src="{{$ctrl.resource.thumbnail}}" alt="Miniatura">
						</div-->
						<div flex >
							<rd-post  class="kview__summary"  modules="$ctrl.resource.armado" relative="$ctrl.uid" readonly="true"></rd-post>
						</div>
<!--						<div flex="100" ng-hide="$ctrl.resource.thumbnail === ''">
							<img class="responsive" ng-repeat="file in $ctrl.resource.files" ng-src="{{file}}">
						</div>-->
						<div ng-if="$ctrl.resource.files.length">
								<md-button class="rview__button md-button" style="background-color:#8BBF1F; color: white"
							ng-href="/api/publishedOrientacionPedagogica/{{$ctrl.resource._id}}/download" target="_blank">Descargar</md-button>
							<div ng-if="$ctrl.resource.files.length">
									<div style="text-align: left; padding-left: 2%;"><span class="text-uppercase color-grey">{{$ctrl.resource.files.length}} Archivos | {{$ctrl.sumfiles($ctrl.resource.files) | numeraljs:'0b'}}</span></div>
							</div>
						</div>
						

						
						<div ng-if="$ctrl.resource.files.length">
							<md-button ng-if="$ctrl.resource.orden > 1"class="rview__button md-button" style="background-color:#8BBF1F; color: white"
						ng-click="$ctrl.anterior()" >Anterior</md-button>
						<md-button class="rview__button md-button" style="background-color:#8BBF1F; color: white"
						ng-click="$ctrl.siguiente()" >Siguiente</md-button>
					

					</div>
				</div>
			</section>
		</div>
	</div>
	<!--div class="rview__resources" layout="row" layout-align="start stretch">
		<div class="rview__resources--left"></div>
		<div flex>
			<div class="rview__links" ng-if="$ctrl.resource.links.length > 0">
				<h3 flex class="text-uppercase" ng-if="$ctrl.resource.type !== 'orientacionpedagogica'">Vinculado a {{$ctrl.resource.links.length}} materiales</h3>
				<h3 flex class="text-uppercase" ng-if="$ctrl.resource.type == 'orientacionpedagogica'">Esta Orientaci&oacute;n Pedagógica contiene {{$ctrl.resource.links.length}} materiales</h3>
				<md-list ng-cloak>
					<md-list-item ng-repeat="item in $ctrl.resource.links">
						<div ng-if="$ctrl.isPublished == false" layout="row">
							<div layout="row" layout-padding layout-align="start center">
								<div>
									<div class="thumbnail thumbnail--rounded thumbnail--50" ng-hide="item.thumbnail == ''">
										<img ng-src="{{item.thumbnail}}" alt="Miniatura de la {{item.typeCaption}}">
									</div>
								</div>
								<div flex>
									<div layout="row" layout-align="start center">
										<div><strong>{{item.nombre}}</strong> | </div>
										<div class="color-{{item.type}}" layout="row" layout-align="start center">
											<i class="ri" ng-class="'ri-'+item.type"></i> <span>{{item.typeCaption}}</span>
										</div>
									</div>
									<div><p>{{item.descripcion | truncate:140}}</p></div>
								</div>
							</div>
						</div>
						<div ng-if="$ctrl.isPublished == true"  flex layout="row">
							<a class="rview__link" flex layout="row" layout-padding layout-align="start center" ng-href="/ver/{{item.type}}/{{item._id}}" target="_blank">
								<div>
									<div class="thumbnail thumbnail--rounded thumbnail--50" ng-hide="item.thumbnail == ''">
										<img ng-src="{{item.thumbnail}}" alt="Miniatura de la {{item.typeCaption}}">
									</div>
								</div>
								<div flex>
									<div layout="row" layout-align="start center">
										<div><strong>{{item.nombre}}</strong> | </div>
										<div class="color-{{item.type}}" layout="row" layout-align="start center">
											<i class="ri" ng-class="'ri-'+item.type"></i> <span>{{item.typeCaption}}</span>
										</div>
									</div>
									<div><p>{{item.descripcion | truncate:140}}</p></div>
								</div>
							</a>
						</div>
					</md-list-item>
				</md-list>
			</div>
		</div>
		<div class="rview__resources--right"></div>
	</div-->
	<!--Lateral -->
	<div class="icon-bar" ng-show="!$ctrl.isMobile">
		<a ng-href="/ver/{{$ctrl.resource.type}}/{{$ctrl.resource._id}}" target="_blank" class="view-item" title="Ver Orientacion"><i class="fa fa-search"></i></a>
		<!--a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
		<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
		<a href="#" class="youtube"><i class="fa fa-youtube"></i></a-->
	</div>
</div>