<div class="banner__home" section="institucional">
	<div layout="column" class="institucional--banner" layout-align="center center">
		<img class="institucional--logo" src="/assets/robotica-logo-white-header.png" alt="">
		<p>Una plataforma educativa diseñada para acercar a los docentes</p>
		<p>y estudiantes de la modalidad Educación Especial</p>
		<p><strong>otras posibilidades de enseñar y aprender</strong></p>
	</div>
</div>

<div class="institucional" layout="row" layout-padding layout-align="center top">
		<div flex="70" flex-md="80" flex-sm="80" flex-xs="80" >
		<h1 class="margin">Qué es robotica</h1>
		<p>robotica, es una plataforma educativa diseñada con el propósito de acercar a los  docentes y estudiantes de la modalidad Educación Especial otras posibilidades de enseñar y aprender. 
		Contiene recursos didácticos, herramientas digitales y materiales multimedia curados y editados en formatos accesibles, con el criterio de diseño universal, lo que hace de robotica un sitio útil para todos los niveles y modalidades de enseñanza.</p>

		<p>Ideamos robotica como un entorno de propuestas pedagógicas abiertas y flexibles, mediadas por la lógica de las pantallas, para que cada docente, desde su impronta profesional, pueda elegir y editar sus materiales didácticos, proyectar distintos recorridos e incluir diversas formas de acercarse a los contenidos de la enseñanza, seleccionando estrategias diferentes a la hora de evaluar los logros en el aprendizaje.</p>

		<p>Hoy el concepto de alfabetización ha evolucionado. Transitamos un camino en el que conviven nuevos formatos textuales con viejos soportes, donde leer y escribir traspasa  la  histórica frontera del cuaderno de clases. Sonidos, imágenes y videos se mezclan con láminas y pizarrones; los abecedarios se amplifican con emoticones, mientras millones de clics buscan nuevos espacios para compartir la diversidad cultural de este milenio, abriendo nuevos sentidos de ser, estar y sentir.</p>

		<p>Hoy nos comunicamos, aprendemos y participamos desde otros lugares, con otras formas mediadas por una virtualidad que acerca e incluye.</p>

		<p>Es por ello que pensamos en robotica como un entorno circular donde las prácticas escolares se entraman en la cultura digital, abriendo nuevos caminos a la inclusión.
		Desde estos sentidos proyectamos acercarles nuestro aporte con recursos que intentan contribuir a la mejora de la enseñanza, esperando que colaboren en la construcción de espacios de aula inclusivos, creativos, dinámicos y productivos.</p>

		<div layout="column" class="legend--bottom">
			<div>
					<i class="ri ri-robotica ri-2x" aria-hidden="true"></i>
			</div>
			<div>Atentamente</div>
			<div>El equipo de <strong>robotica</strong></div>
		</div>
	</div>
</div>

<!-- Credenciales -->
<div class="institucional--head institucional--credenciales" >
	<h2>Credenciales</h2>
</div>
<div class="institucional" layout="row" layout-padding layout-align="center top">
	<div flex="70" flex-md="80" flex-sm="80" flex-xs="80" >

		<div layout="row"><h4 class="team--head">Autoridades</h4></div>
		<div>
			<ul class="team--list">
				<li ng-repeat="person in $ctrl.teamBA"><span><strong>{{person.name}}</strong> {{person.cargo}}</span></li>
			</ul>
		</div>
		
		<div layout="row"><h4 class="team--head">Equipo técnico-pedagógico</h4></div>
		<p>
			Coordinador de contenidos educativos {{$ctrl.coordinador}} <br />
			Contenidistas de  Educación  Especial  <br />
			Diseño, producción y curación de materiales didácticos digitales
		</p>

		<div>
			<ul class="team--list">
				<li ng-repeat="person in $ctrl.teamPedagogico"><span>{{person}}</span></li>
			</ul>
		</div>
		<div layout="row"><h4 class="team--head">Equipo de desarrollo</h4></div>
		<div>
			<ul class="team--list">
				<li ng-repeat="person in $ctrl.teamDesarrollo"><span>{{person}}</span></li>
			</ul>
		</div>

	</div>
</div>

<!-- Licencias -->
<div class="institucional--head institucional--licencias">
	<h2>Licencias</h2>
</div>
<div class="institucional" layout="row" layout-padding layout-align="center top">
		<div flex="70" flex-md="80" flex-sm="80" flex-xs="80" >
			<p>Los recursos y materiales  educativos publicados   en robotica han sido diseñados ,  curados  y /o remixados   por el equipo  de contenidistas  de la modalidad Educación Especial de la Dirección de Tecnologia  e Innovación Educativa, dependiente de la DGCy E  de la Provincia de Buenos Aires.</p>
 
			<p>Todos los recursos de  diseño y autoría propia se publican bajo licencia Creative Commons (CC- BY-NC-SA) siendo de uso público y gratuito para fines exclusivamente pedagógicos. Estos contenidos pueden  ser compartidos  bajo la misma licencia, siempre que se cite la fuente y  el  autor y no se realice  un uso comercial de los mismos.</p>
			
			<p>Así mismo los contenidos de diseño de autor publicados en robotica  se podrán modificar, remixar o adaptar de acuerdo a las necesidades e intereses de los docentes y estudiantes , siempre que para su posterior publicación, por cualquier medio digital, se pongan a disposición en los mismos términos y condiciones de licencia del contenido original.</p>
			
			<p>Este sitio utilizó además material multimedia  de la web en formato de audio, video e imágenes para la realización de actividades y propuestas de enseñanza, con propósitos exclusivamente educativos y sin fines de lucro, citando en cada caso la fuente y el autor de los recursos seleccionados. La propiedad intelectual de los materiales seleccionados  pertenece a los autores. Solicitamos a quienes no deseen el uso de su material en estas condiciones, se comuniquen  con nosotros para retirarlo en lo inmediato.</p>
	</div>
</div>

<!-- Contacto -->
<div class="institucional--head institucional--contacto">
	<h2>Contacto</h2>
	<div layout="row" layout-padding layout-align="center top">
		<div flex="70" flex-md="80" flex-sm="80" flex-xs="80" >
			<p>Para más información comunicate con nosotros a</p>
			<p class="robotica-mail"><strong><a href="mailto:robotica@abc.gob.ar"><i class="fa fa-envelope"></i>	robotica@abc.gob.ar</a></strong></p>
		</div>
	</div>
</div>