 

<div class="container">

  <md-dialog-content>
    <div class="md-dialog-content">
      <div class="vid-container">
        <iframe id="vid_frame" src="http://www.youtube.com/embed/eg6kNoJmzkY?rel=0&showinfo=0&autohide=1" frameborder="0" width="500" height="260"></iframe>
    </div>
    </div>
  </md-dialog-content>

  <!-- THE YOUTUBE PLAYER -->
  

<!-- THE PLAYLIST -->
<div class="vid-list-container">
      <div class="vid-list">
           <div ng-repeat="item in $ctrl.videos" class="vid-item" ng-click="changeVideo(item.video)" >
             <div class="thumb"><img src="{{item.imagen}}"></div>
             <div class="desc">{{item.titulo}}</div>
           </div>
          <!-- LEFT AND RIGHT ARROWS -->
          <div class="arrows" style="position: relative">
              <div class="arrow-left" style="position: fixed; top: 75%; bottom: 20%; left: 31.6%;" ng-click="changeVideoArrow('left')"><i class="fa fa-chevron-left fa-lg"></i></div>
              <div class="arrow-right" style="position: fixed; top: 75%; bottom: 20%; right: 31.6%;" ng-click="changeVideoArrow('right')"><i class="fa fa-chevron-right fa-lg"></i></div>
          </div>
     </div>
    </div>
  </div>

