/* inject:scss */
@import '../app/app';
@import '../app/login/login';
@import '../curador/dashboard/dashboard';
@import '../curador/dashboarddesafiosresueltos/dashboarddesafiosresueltos';
@import '../curador/dashboardkits/dashboardkits';
@import '../curador/dashboardnoticias/dashboardnoticias';
@import '../curador/dashboardorientacionpedagogica/dashboardorientacionpedagogica';
@import '../curador/dashboardpropuestadesafio/dashboardpropuestadesafio';
@import '../curador/dashboarpropuestataller/dashboarpropuestataller';
@import '../curador/desafio/desafio';
@import '../curador/header/header';
@import '../curador/kit/kit';
@import '../curador/new/new';
@import '../curador/noticia/noticia';
@import '../curador/orientacionpedagogica/orientacionpedagogica';
@import '../curador/propuestadesafio/propuestadesafio';
@import '../curador/propuestataller/propuestataller';
@import '../curador/resource/resource';
@import '../curador/users/users';
@import '../social/actividadescomplementarias/actividadescomplementarias';
@import '../social/actividadessegEtapa/actividadessegundaEtapa';
@import '../social/buscar/buscar';
@import '../social/canalyt/canalyt';
@import '../social/como empezar/como empezar';
@import '../social/comoEmpezar/comoEmpezar';
@import '../social/components/desafioCard/desafioCard';
@import '../social/components/desafioView/desafioView';
@import '../social/components/kitCard/kitCard';
@import '../social/components/kitView/kitView';
@import '../social/components/modalView/modalView';
@import '../social/components/noticiaCard/noticiaCard';
@import '../social/components/noticiaView/noticiaView';
@import '../social/components/orientacionpedagogicaCard/orientacionpedagogicaCard';
@import '../social/components/orientacionpedagogicaView/orientacionpedagogicaView';
@import '../social/components/propuestaDesafioCard/propuestaDesafioCard';
@import '../social/components/propuestadesafioView/propuestadesafioView';
@import '../social/components/propuestaTalleresCard/propuestaTalleresCard';
@import '../social/components/resourceCard/resourceCard';
@import '../social/components/resourceView/resourceView';
@import '../social/components/searchComponent/searchComponent';
@import '../social/components/userCard/userCard';
@import '../social/desafiosParaResolver/desafioParaResolver';
@import '../social/footer/footer';
@import '../social/guia/guia';
@import '../social/header/header';
@import '../social/header/navbar';
@import '../social/home/home';
@import '../social/institucional/institucional';
@import '../social/kitEbot/kitEbot';
@import '../social/kitLbot/kitLbot';
@import '../social/kitsDisponibles/kitsDisponibles';
@import '../social/noticias/noticias';
@import '../social/orientacionpedagogica/orientacionpedagogica';
@import '../social/propuestasdetaller/propuestasdetaller';
@import '../social/recursos/recursos';
@import '../social/resolverDesafio/resolverDesafio';
@import '../social/social';
@import '../social/talleresintensivos/talleresintensivos';
@import '../social/ver/ver';
@import '../social/verdesafio/verdesafio';
/* endinject */