<md-dialog class="" aria-label="Recurso {{$ctrl.resource.title}}">
    <md-toolbar class="bg-{{$ctrl.resource.type}}">
			<div class="md-toolbar-tools">
				<span flex></span>
				<md-button class="md-icon-button" ng-click="$ctrl.closeDialog()">
					<i class="fa fa-times fa-2x" aria-hidden="true" aria-label="Cerrar dialogo"></i>
				</md-button>
			</div>
		</md-toolbar>
	<md-dialog-content class="mview__content">
		<div class="dashboard__loading" layout="row" layout-align="center center" ng-show="$ctrl.loading">
			<md-progress-circular md-mode="indeterminate"></md-progress-circular>
		</div>
		<resource-view resource="$ctrl.resource" class="dashboard__preview" is-published="true"></resource-view>
	</md-dialog-content>
</md-dialog>
