* {
	font-family: $font-family-primary;
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-weight: $font-weight-primary;
	font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
	font-size: $body-font-size;
	color: $color-black;
}

// ------------------------------
// Reset font sizes to default
//
div, span, p, blockquote, pre,
a, abbr, address, cite, code, strong
i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
	font-size: 1.6rem;
}

small {
	font-size: 0.7em;
}

// ------------------------------
// Colors
//
.rd-bg {
	&__grey {
		background-color: $color-grey;
	}

	&__grey-light {
		background-color: $color-grey-light;
	}
}

.rd-color {
	&__grey {
		color: $color-grey;
	}

	&__grey-light {
		color: $color-grey-light;
	}
}


// ------------------------------
// Transitions
//
@-webkit-keyframes _opacityTransition {
	from { opacity: 0; }
		to { opacity: 1; }
} 

@keyframes moveToBottom {
	0% {
			opacity: 0;
			transform: translateY(-.3rem);
	}

	100% {
			opacity: 1;
			transform: translate(0);
	}
}