@font-face {
	font-family: 'robotica';
	src: url('#{$robotica-font-path}/robotica.eot');
	src: url('#{$robotica-font-path}/robotica.eot?#iefix') format('embedded-opentype'),
		url('#{$robotica-font-path}/robotica.woff') format('woff'),
		url('#{$robotica-font-path}/robotica.ttf') format('truetype'),
  //  url('#{$robotica-font-path}/robotica.svg#robotica') format('svg'),
    url('#{$robotica-font-path}/iconos-roboton.svg#roboton') format('svg');
	font-weight: normal;
	font-style: normal;
}

.ri {
  font-family: 'robotica';
  font-weight: normal;
  font-style: normal;
  //Preferred icon size is 24px but 28px 
  //fix size for same size of material icons
  font-size: 28px;  
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.ri-2x {
	font-size: 2em;
}

.ri-3x {
	font-size: 3em;
}

.ri-4x {
	font-size: 4em;
}

.ri-5x {
	font-size: 5em;
}

.ri-6x {
	font-size: 6em;
}

@import "_icons-gen.scss";

// define maerial design icons
.mi {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

// alias 
.ri-herramienta:before {
	content: "\f000";
}

.ri-herramientas:before {
	content: "\f000";
}

.ri-calendario:before {
	content: "\f001";
}

.ri-mediateca:before {
	content: "\f008";
}

.ri-documentos:before  {
	content: "\f003";
}

.ri-loquehacemos:before {
	content: "\f004";
}

.ri-desafio:before {
	content: "\f00f";
}

// Material icons
.mi-home:before {
	content: "\E88A";
}

.mi-person:before {
	content: "\E7FD";
}

.mi-navigate-next::before {
  content: "\E409";
}

.mi-navigate-back::before {
  content: "\E408";
}

.mi-cloud-done::before {
  content: "\E2BF";
}

.mi-cloud-upload::before {
  content: "\E2BF";
}

.mi-save::before {
  content: "\E161";
}

.mi-mode-edit::before {
  content: "\E254";
}


[class^="iconPed"] {
  width: 50px;
  height: 50px;
 
  top: 15px;

  margin-right: 0px;
  fill: #fff;
  background-repeat: no-repeat;
}
/*
.containerPPed {
  padding: 20px;
}

.icon-elem-parent {
  display: inline-block;
  margin-right: 30px;
}

.icon-elem {
  font-size: 100px;
}

.icon-txt {
  text-align: center;
  margin-top: 10px;
}
*/

.iconPed-danza{
  background-image: url('#{$robotica-orintaciones-svg-path}/danza.svg');
  
}

.iconPed-fisica{
  background: url('#{$robotica-orintaciones-svg-path}/fisica.svg');
}

.iconPed-ingles{
  background: url('#{$robotica-orintaciones-svg-path}/ingles.svg');
}

.iconPed-lengua{
  background: url('#{$robotica-orintaciones-svg-path}/lengua.svg');
}

.iconPed-matematica{
  background: url('#{$robotica-orintaciones-svg-path}/matematica.svg');
}

.iconPed-musica{
  background: url('#{$robotica-orintaciones-svg-path}/musica.svg');
}


.iconPed-naturales{
  background: url('#{$robotica-orintaciones-svg-path}/naturales.svg');
}

.iconPed-plastica{
  background: url('#{$robotica-orintaciones-svg-path}/plastica.svg');
}

.iconPed-sociales{
  background: url('#{$robotica-orintaciones-svg-path}/sociales.svg');
}

.iconPed-teatro{
  background: url('#{$robotica-orintaciones-svg-path}/teatro.svg');
}


.icondemoFontIconsWithClassnames {
  /* Bootstrap Overrides */
  /* OLD STYLES */ }
  .icondemoFontIconsWithClassnames .appDemoFontIconsWithClassnames {
    padding: 25px;
    width: 100%; }
  .icondemoFontIconsWithClassnames .appDemoFontIconsWithClassnames,
  .icondemoFontIconsWithClassnames .appDemoFontIconsWithClassnames *:before,
  .icondemoFontIconsWithClassnames .appDemoFontIconsWithClassnames *:after {
    box-sizing: border-box; }
  .icondemoFontIconsWithClassnames [class^="icon-"]:before,
  .icondemoFontIconsWithClassnames [class*=" icon-"]:before {
    font-family: "icomoon";
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .icondemoFontIconsWithClassnames .icon-home:before {
    content: "\e900"; }
  .icondemoFontIconsWithClassnames .icon-clock:before {
    content: "\e94e"; }
  .icondemoFontIconsWithClassnames .icon-user-plus:before {
    content: "\e973"; }
  .icondemoFontIconsWithClassnames .icon-google-plus2:before {
    content: "\ea89"; }
  .icondemoFontIconsWithClassnames .icon-youtube4:before {
    content: "\ea9a"; }
  .icondemoFontIconsWithClassnames .icon-settings:before {
    content: "\e600"; }
  .icondemoFontIconsWithClassnames md-progress-circular {
    margin-bottom: 20px; }
  .icondemoFontIconsWithClassnames header {
    overflow: hidden; }
  .icondemoFontIconsWithClassnames header h1 {
    color: #888;
    font-size: 36px;
    font-weight: 300; }
  .icondemoFontIconsWithClassnames .container {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 960px;
    padding: 40px 40px;
    font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .icondemoFontIconsWithClassnames .glyph {
    border-bottom: 1px dotted #ccc;
    padding: 10px 0 20px;
    margin-bottom: 20px; }
  .icondemoFontIconsWithClassnames .preview-scale,
  .icondemoFontIconsWithClassnames .preview-glyphs {
    display: flex;
    flex-direction: row; }
  .icondemoFontIconsWithClassnames .preview-scale {
    color: #888;
    font-size: 12px;
    margin-top: 24px; }
  .icondemoFontIconsWithClassnames .step {
    flex-grow: 1;
    line-height: 0.5; }
  .icondemoFontIconsWithClassnames .usage {
    margin-top: 10px; }
  .icondemoFontIconsWithClassnames .usage input {
    font-family: monospace;
    text-align: center; }
  .icondemoFontIconsWithClassnames .usage .point {
    width: 150px; }
  .icondemoFontIconsWithClassnames .usage .class {
    width: 250px; }
  .icondemoFontIconsWithClassnames md-radio-button {
    display: inline-block; }
  .icondemoFontIconsWithClassnames .loading {
    background-color: black;
    filter: alpha(opacity=40);
    height: 100%;
    left: 0;
    opacity: .40;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 90; }
  .icondemoFontIconsWithClassnames .loading md-progress-circular {
    left: 50%;
    position: fixed;
    top: 48%;
    z-index: 100; }


    .icon-audio{
      background: url('#{$robotica-orintaciones-svg-path}/recurso-audio.svg');
      background-repeat: no-repeat;
    }

    .icon-audio-line{
      background: url('#{$robotica-orintaciones-svg-path}/recurso-audio-line.svg');
      background-repeat: no-repeat;
    }


    .icon-imagen{
      background: url('#{$robotica-orintaciones-svg-path}/recurso-imagen.svg');
      background-repeat: no-repeat;
    }

    .icon-imagen-line{
      background: url('#{$robotica-orintaciones-svg-path}/recurso-imagen-line.svg');
      background-repeat: no-repeat;
    }

    .icon-pdf{
      background: url('#{$robotica-orintaciones-svg-path}/recurso-pdf.svg');
      background-repeat: no-repeat;
    }

    .icon-pdf-line{
      background: url('#{$robotica-orintaciones-svg-path}/recurso-pdf-line.svg');
      background-repeat: no-repeat;
    }

    .icon-presentacion{
      background: url('#{$robotica-orintaciones-svg-path}/recurso-presentacion.svg');
      background-repeat: no-repeat;
    }

    .icon-presentacion-line{
      background: url('#{$robotica-orintaciones-svg-path}/recurso-presentacion-line.svg');
      background-repeat: no-repeat;
    }

    .icon-programa{
      background: url('#{$robotica-orintaciones-svg-path}/recurso-programa.svg');
      background-repeat: no-repeat;
    }

    .icon-programa-line{
      background: url('#{$robotica-orintaciones-svg-path}/recurso-programa_line.svg');
      background-repeat: no-repeat;
    }

    .icon-video-line{
      background: url('#{$robotica-orintaciones-svg-path}/recurso-video.svg');
      background-repeat: no-repeat;
    }

    .icon-video-line{
      background: url('#{$robotica-orintaciones-svg-path}/recurso-video-line.svg');
      background-repeat: no-repeat;
    }
