<rd-card data-rd-section="{{$ctrl.resource.type}}">
    <rd-card-toolbar ng-if="$ctrl.editable">
        <div layout="row">
            <div class="rd-card__status" flex ng-hide="$ctrl.resource.published == undefined"> <i class="fa fa-check-circle-o"></i>	Publicado</div>
            <div class="rd-card__status" flex ng-show="$ctrl.resource.published == undefined"> <i class="fa fa-save"></i> Guardado</div>
            <md-button ng-click="$ctrl.deleteUser()" class="bordered md-raised md-mini rd-card__button--delete" aria-label="Eliminar Usuario">
                <md-icon md-font-icon="">delete</md-icon>
            </md-button>
            <!--<md-button ng-click="$ctrl.editUser()" class="bordered mini-button md-button md-ink-ripple rd-card__button&#45;&#45;edit">-->
                <!--<div layout="row">-->
                    <!--<md-icon class="mi-mode-edit"></md-icon> <span>Editar</span>-->
                <!--</div>-->
            <!--</md-button>-->
        </div>
    </rd-card-toolbar>

    <rd-card-body>
        <div layout="row">
            <div class="rd-card__thumbnail">
                <img ng-src="{{$ctrl.user.google.image.url}}" alt="Miniatura" >
            </div>
            <div flex class="rd-card__body--custom">
                <h1 class="rd-card__title--v1">{{$ctrl.user.name}}</h1>
                <p class="rd-card__paragraph" ng-show="$ctrl.showInfo"><strong>Role: </strong>{{$ctrl.user.role | truncate:140 }}</p>
                <p class="rd-card__paragraph" ng-hide="$ctrl.showInfo"><strong>Role: </strong><input type="text" ng-model="$ctrl.user.role"></p>
                <!--<p><strong class="rd-card__updated rd__color&#45;&#45;grey-light ">Actualizado <strong am-time-ago="$ctrl.resource.createdAt"></strong> </strong></p>-->
                <!--<p><strong class="rd-card__owner">{{$ctrl.resource.owner.name}}</strong></p>-->
            </div>
        </div>
        <div align="center">
            <md-button class="bordered mini-button md-button md-ink-ripple rd-card__button--edit"
                       ng-click="$ctrl.showInfo = !$ctrl.showInfo">
                <div layout="row" ng-show="$ctrl.showInfo">
                    <md-icon class="mi-mode-edit"></md-icon> <span>Editar Role</span>
                </div>
                <div layout="row"
                     ng-hide="$ctrl.showInfo"
                     ng-click="$ctrl.editUser($ctrl.user._id, $ctrl.user.role)">
                    <md-icon class="mi mi-save ng-scope material-icons"></md-icon> <span>Save</span>
                </div>
            </md-button>
        </div>
    </rd-card-body>
</rd-card>
