<div class="dashboard__loading" layout="row" layout-align="center center" ng-show="$ctrl.loading">
	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<div class="social__ver">

		<resource-view ng-if="$ctrl.resource.type == 'resource' " resource="$ctrl.resource" class="dashboard__preview" is-published="true" vista="'ver'"></resource-view>
		<noticia-view ng-if="$ctrl.resource.type == 'noticia' " resource="$ctrl.resource" class="dashboard__preview" is-published="true" vista="'ver'"></noticia-view>
		<kit-view ng-if="$ctrl.resource.type == 'kit' " resource="$ctrl.resource" class="dashboard__preview" is-published="true" ></kit-view>
		<orientacionpedagogica-view ng-if="$ctrl.resource.type == 'orientacionpedagogica' " resource="$ctrl.resource" class="dashboard__preview" is-published="true" vista="'ver'"></o-view>


</div>