
<md-dialog >
	<md-toolbar >
		<div class="md-toolbar-tools" style="background-color: #8BBF1F">
			<span flex></span>
			<md-button class="md-icon-button" ng-click="$ctrl.closeDialog()">
				<i class="fa fa-times fa-2x" aria-hidden="true" aria-label="Cerrar dialogo"></i>
			</md-button>
		</div>
	</md-toolbar>

<md-dialog-content>
		<md-dialog-content ng-if="$ctrl.isMobile===false">
				<iframe ng-if="$ctrl.resource.vid == 1" width="854" height="480" src="https://www.youtube.com/embed/y3OiROMmIGs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				<iframe ng-if="$ctrl.resource.vid == 2" width="854" height="480" src="https://www.youtube.com/embed/udPk5J6WRbs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				<iframe ng-if="$ctrl.resource.vid == 3" width="854" height="480" src="https://www.youtube.com/embed/eGbt_tK_KCw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>							
		</md-dialog-content>

		
				<div class="vid-container" ng-if="$ctrl.isMobile">
						<iframe ng-if="$ctrl.resource.vid == 1"  src="https://www.youtube.com/embed/y3OiROMmIGs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						<iframe ng-if="$ctrl.resource.vid == 2" src="https://www.youtube.com/embed/udPk5J6WRbs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>							
						<iframe ng-if="$ctrl.resource.vid == 3" src="https://www.youtube.com/embed/eGbt_tK_KCw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>							
					</div>
		

		
	</md-dialog-content>

</md-dialog>
