.dashboard__sidenav {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 2rem;
		left: 0;
		height: 70%;
		width: .5rem;
		border-radius: 100px;
	}
}

@each $key, $section in $sections {
	.dashboard__sidenav[data-type="#{$key}"]::before {
		background-color: map-get($section, color);
	}

	.dashboard__sidenav[data-type="#{$key}"] {
		& .dashboard__sidenav--head,
		& .dashboard__sidenav--subhead {
			color: map-get($section, color);
		}
	}
}

.vinculados__recursos {
	background-color: $color-grey-light;
}

.vinculo__files {
	margin-top: 2rem;
	margin-bottom: 2rem;
}