
<div class="dashboard__loading" layout="row" layout-align="center center" ng-show="$ctrl.loading">
	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<!-- delete -->
<div ng-if="$ctrl.isDelete">
	<div class="dashboard__remove" ng-hide="$ctrl.loading">
		<p class="dashboard__remove--legend">¿Esta seguro que desea eliminar PERMANENTEMENTE este {{$ctrl.getResourceType($ctrl.resource.type)}}?</p>
		<md-button ng-click="$ctrl.deleteResource()" class="md-raised md-primary dashboard__remove--button" aria-label="Eliminar módulo">
			Confirmar y Eliminar Recurso
		</md-button>
	</div>
</div>

<!-- toolbar -->
<div class="dashboard__toolbar" ng-hide="($ctrl.loading || $ctrl.isDelete)">
	<rd-stepper class="dashboard__stepper" 
							rd-section="{{$ctrl.resource.subtype}}" 
							steps="$ctrl.steps"
							can-next="$ctrl.canNext" 
							on-to-refuse="$ctrl.toRefuse",
							on-finish="$ctrl.finish"
							on-enter-step="$ctrl.onEnterStep"
							on-save="$ctrl.save"
							on-cancel="$ctrl.cancel"
							init-step-index="$ctrl.initStepIndex"
							user-rol="$ctrl.user.role"
							type="$ctrl.resource.subtype"></rd-stepper>
</div>

<!-- STEP FICHA -->
<div class="dashboard__wrapper" ng-if="$ctrl.currentStep == 'ficha'" ng-hide="($ctrl.loading || $ctrl.isDelete)">
	<div class="dashboard__container"  layout="row" layout-align="start stretch">
		

		<md-content>			
				
				
					 <div class="md-title">Tipo Recurso *</div>
					 

							<md-radio-group ng-model="$ctrl.resource.tipoRecurso" class="md-primary">

							<md-radio-button ng-repeat="item in $ctrl.tipoRecursos"
											 ng-value="item" ng-click="$ctrl.changeTipoRecurso()"
											 >
								{{ item }}							  
					
							</md-radio-button>
					
						</md-radio-group>
					
		</md-content>

	</md-content>

	
		
		<md-content  class="dashboard__content" flex>
			<div class="dashboard__content--head">
					<md-input-container class="dashboard__input dashboard__input--title">
						<label>Título</label>
						<input ng-model="$ctrl.resource.title" required>
					</md-input-container>
					<md-input-container  class="dashboard__input dashboard__input--summary">
						<label>Síntesis</label>
						<textarea ng-model="$ctrl.resource.summary" required></textarea>
					</md-input-container>
			</div>
			<rd-post modules="$ctrl.resource.postBody" relative="$ctrl.uid" on-delete="$ctrl.onDeletePost"></rd-post>
	
		</md-content>
	</div>
</div>

<!-- STEP RECURSO -->
<div class="dashboard__wrapper" ng-if="$ctrl.currentStep == 'recurso'" ng-hide="$ctrl.loading">
	<div class="dashboard__container"  layout="row" layout-align="start stretch">
		
		
		
		
		<md-content class="dashboard__sidenav" data-type="{{$ctrl.resource.subtype}}">
			<div layout="row" class="dashboard__sidenav--top">				
				<div flex class="dashboard__sidenav--head-resource">
					<h2 class="dashboard__sidenav--head">{{$ctrl.headText}}</h2>
					<h2 class="dashboard__sidenav--subhead">{{$ctrl.resource.subtype}}</h2>
				</div>
			</div>
			<h1 class="rd__headpost--sidenav">{{$ctrl.resource.title}}</h1>
			<p class="rd__headpost">{{$ctrl.resource.summary | truncate:140}}</p>
		</md-content>
	<md-content  class="dashboard__content" flex ng-if="$ctrl.resource.tipoRecurso == 'Imágen' || $ctrl.resource.tipoRecurso == 'Presentación' || $ctrl.resource.tipoRecurso == 'PDF'  || $ctrl.resource.tipoRecurso == 'Software'" >Archivo:

		<md-content  class="dashboard__content" flex>IMAGEN PRINCIPAL: 
			<div class="dropzone dz__custom dz-software-clickable"
					data-type="{{$ctrl.resource.subtype}}"
					options="$ctrl.dzOptionsSoftware"
					callbacks="$ctrl.dzCallbacksSoftware"
					methods="$ctrl.dzMethods"
					ng-dropzone
					ng-hide="$ctrl.resource.files.length > 0"></div>
			<div ng-show="$ctrl.resource.files.length > 0">
				<md-table-container class="table__files">
					<table md-table multiple>
						<thead md-head md-order="$ctrl.myOrder">
							<tr md-row>
								<th md-column>Nombre</th>
								<th md-column md-numeric>Tamaño</th>
							</tr>
						</thead>
						<tbody md-body>
							<tr ng-repeat="file in $ctrl.resource.files">
								<td md-cell> <span>{{file.name}}</span></td>
								<td md-cell><span>{{file.size | numeraljs:'0b'}}</span></td>
							</tr>
							<tr class="table__files--summary-cell">
								<td md-cell></td>
								<td md-cell><span class="table__files--summary">{{$ctrl.resource.files.length}} Archivos, Total: {{$ctrl.sumfiles($ctrl.resource.files) | numeraljs:'0b'}}</span></td>
							</tr>
						</tbody>
					</table>
				</md-table-container>
				<div layout="row">
					<span flex></span>
					<md-button class="md-raised" ng-click="$ctrl.removeAllFiles()">Eliminar todos</md-button>
					<md-button class="md-raised dz-software-clickable" ng-click="null"><i class="fa fa-upload"></i> Agregar</md-button>
				</div>
			</div>
			
		</md-content>
	</md-content>


		
		<md-content  class="dashboard__content" flex ng-if="$ctrl.resource.tipoRecurso == 'Audio' ">AUDIO:
			<div class="dashboard__box" >
				<md-input-container class="dashboard__input dashboard__input--title">
					<h4 class="color-grey font-medium">Link a soundcloud</h4>
					<input ng-model="$ctrl.resource.audio">
				</md-input-container>
			</div>	
			
		</md-content>

		<md-content  class="dashboard__content" flex ng-if="$ctrl.resource.tipoRecurso == 'Video' ">AUDIO:

		<div class="dashboard__box" >
			<md-input-container class="dashboard__input dashboard__input--title">
				<h4 class="color-grey font-medium">Link Video Youtube ( se debe copiar el video de la etiqueta src del compartir en iframe. )</h4>
				<input ng-model="$ctrl.resource.link">
			</md-input-container>
		</div>		
			</md-content>

		<!-- 	<md-content  class="dashboard__content" flex ng-if="$ctrl.resource.type == 'materialapoyo' || $ctrl.resource.type == 'tutorial'">IMAGEN:
		-->
		
	
		











	</div>
	
</div>



<!-- STEP PUBLICAR -->
<div class="dashboard__wrapper" ng-if="$ctrl.currentStep == 'publicar'" ng-hide="$ctrl.loading">
	<div class="dashboard__preview--header bg-primary">
		<h2><i class="fa fa-angle-down"></i> Previsualización <i class="fa fa-angle-down"></i></h2>
	</div>
	<resource-view resource="$ctrl.resource" rate="$ctrl.rate" class="dashboard__preview"></resource-view>
	<div flex class="dashboard__sidenav--head-resource" id="msg">
		<h2 class="dashboard__sidenav--head color-propuestas">
			<strong>
				{{ $ctrl.msg }}
			</strong>
		</h2>
	</div>
</div>