
<div class="dashboard__loading" layout="row" layout-align="center center" ng-show="$ctrl.loading">
	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<!-- delete -->
<div ng-if="$ctrl.isDelete">
	<div class="dashboard__remove" ng-hide="$ctrl.loading">
		<p class="dashboard__remove--legend">¿Esta seguro que desea eliminar PERMANENTEMENTE este {{$ctrl.getResourceType($ctrl.resource.type)}}?</p>
		<md-button ng-click="$ctrl.deleteResource()" class="md-raised md-primary dashboard__remove--button" aria-label="Eliminar módulo">
			Confirmar y Eliminar Recurso
		</md-button>
	</div>
</div>

<!-- toolbar -->
<div class="dashboard__toolbar" ng-hide="($ctrl.loading || $ctrl.isDelete)">
	<rd-stepper class="dashboard__stepper" 
							rd-section="{{$ctrl.resource.type}}" 
							steps="$ctrl.steps"
							can-next="$ctrl.canNext" 
							on-finish="$ctrl.finish"
							on-enter-step="$ctrl.onEnterStep"
							on-save="$ctrl.save"
							init-step-index="$ctrl.initStepIndex"
							></rd-stepper>
</div>

<!-- STEP FICHA -->
<div class="dashboard__wrapper" ng-if="$ctrl.currentStep == 'ficha'" ng-hide="($ctrl.loading || $ctrl.isDelete)">
	<div class="dashboard__container"  layout="row" layout-align="start stretch">
		<md-content class="dashboard__sidenav" data-type="{{$ctrl.resource.type}}">
			<h2 class="dashboard__sidenav--head">{{$ctrl.headText}}</h2>
			<md-input-container class="full-width" ng-if="$ctrl.resource.type == 'herramienta'">
				<md-select ng-model="$ctrl.resource.category" placeholder="Seleccioná un tipo" required>
					<md-option ng-value="soft" ng-repeat="soft in $ctrl.softwares">{{ soft }}</md-option>
				</md-select>
			</md-input-container>
			<md-input-container class="full-width" ng-if="$ctrl.resource.type == 'orientacion'">
				<md-select ng-model="$ctrl.resource.category" placeholder="Seleccioná un tipo" required>
					<md-option ng-value="orientacion" ng-repeat="orientacion in $ctrl.orientaciones">{{ orientacion }}</md-option>
				</md-select>
			</md-input-container>		
			<md-content class="thumbnail__container">
				<div class="dropzone dz__custom dz__thumbnail select-thumbnail dz-tumbnail-clickable" options="$ctrl.dzOptions" callbacks="$ctrl.dzCallbacks" methods="$ctrl.dzMethods" ng-dropzone
						 ng-hide="$ctrl.resource.thumbnail !== ''"></div>
				<div class="thumbnail thumbnail--rounded" ng-hide="$ctrl.resource.thumbnail == ''">
					<img ng-src="{{$ctrl.resource.thumbnail}}" alt="Miniatura del Recurso">
					<md-button ng-click="$ctrl.editTumbnail()" class="mini-button md-button md-raised thumbnail__button--edit dz-tumbnail-clickable">
						<div layout="row">
								<md-icon class="mi-mode-edit"></md-icon> <span>Cambiar</span>
						</div>
					</md-button>
				</div>
			</md-content>
			<md-content ng-if="$ctrl.resource.type !== 'mediateca' && $ctrl.resource.type !== 'desafio'">
				<md-expansion-panel class="option-panel">
					
					 <md-expansion-panel-collapsed>
						 <div class="md-title">Nivel *</div>
						 <div class="md-summary">{{$ctrl.resource.nivel.length}} {{$ctrl.textSelection($ctrl.resource.nivel.length)}}</div>
						 <md-expansion-panel-icon></md-expansion-panel-icon>
					 </md-expansion-panel-collapsed>
					
					
					 <md-expansion-panel-expanded>
					
						 <md-expansion-panel-header ng-click="$panel.collapse()">
							<div class="md-title">Nivel *</div>
							<div class="md-summary"></div>
							 <md-expansion-panel-icon></md-expansion-panel-icon>
						 </md-expansion-panel-header>
					
						 <md-expansion-panel-content>
								<div flex="100" ng-repeat="item in $ctrl.niveles">
									<md-checkbox ng-checked="$ctrl.exists(item, $ctrl.resource.nivel)" ng-click="$ctrl.toggle(item, $ctrl.resource.nivel)">
										{{ item }}
									</md-checkbox>
								</div>
						 </md-expansion-panel-content>
					
					 </md-expansion-panel-expanded>
					
				 </md-expansion-panel>
			</md-content>
			<md-content ng-if="$ctrl.resource.type !== 'mediateca' && $ctrl.resource.type !== 'desafio'">
				<md-expansion-panel class="option-panel">
					
					 <md-expansion-panel-collapsed>
						 <div class="md-title">Area *</div>
						 <div class="md-summary">{{$ctrl.resource.area.length}} {{$ctrl.textSelection($ctrl.resource.area.length)}}</div>
						 <md-expansion-panel-icon></md-expansion-panel-icon>
					 </md-expansion-panel-collapsed>
					
					
					 <md-expansion-panel-expanded>
					
						 <md-expansion-panel-header ng-click="$panel.collapse()">
							 <div class="md-title">Area *</div>
							 <div class="md-summary"></div>
							 <md-expansion-panel-icon></md-expansion-panel-icon>
						 </md-expansion-panel-header>
					
						 <md-expansion-panel-content>
								<div flex="100" ng-repeat="item in $ctrl.areas">
										<md-checkbox ng-checked="$ctrl.exists(item, $ctrl.resource.area)" ng-click="$ctrl.toggle(item, $ctrl.resource.area)">
										{{ item }}
									</md-checkbox>
								</div>
						 </md-expansion-panel-content>
					
					 </md-expansion-panel-expanded>
					
				 </md-expansion-panel>
			</md-content>

			<!-- DESAFIOS -->
			<!-- TODO: Cargar niveles de los desafios -->
			<!-- TODO: Cargar colegios de los desafios -->
			<!-- TODO: Cargar distritos de los desafios -->
			<md-content ng-if="$ctrl.resource.type == 'desafio'">
				<md-expansion-panel class="option-panel">
					
					 <md-expansion-panel-collapsed>
						 <div class="md-title">Nivel *</div>
						 <div class="md-summary">{{$ctrl.resource.area.length}} {{$ctrl.textSelection($ctrl.resource.area.length)}}</div>
						 <md-expansion-panel-icon></md-expansion-panel-icon>
					 </md-expansion-panel-collapsed>
					
					
					 <md-expansion-panel-expanded>
					
						 <md-expansion-panel-header ng-click="$panel.collapse()">
							 <div class="md-title">Nivel *</div>
							 <div class="md-summary"></div>
							 <md-expansion-panel-icon></md-expansion-panel-icon>
						 </md-expansion-panel-header>
					
						 <md-expansion-panel-content>
								<div flex="100" ng-repeat="item in $ctrl.areas">
										<md-checkbox ng-checked="$ctrl.exists(item, $ctrl.resource.area)" ng-click="$ctrl.toggle(item, $ctrl.resource.area)">
										{{ item }}
									</md-checkbox>
								</div>
						 </md-expansion-panel-content>
					
					 </md-expansion-panel-expanded>
					
				 </md-expansion-panel>
			</md-content>



		</md-content>
		
		<md-content  class="dashboard__content" flex>
			<div class="dashboard__content--head">
					<md-input-container class="dashboard__input dashboard__input--title">
						<label>Título</label>
						<input ng-model="$ctrl.resource.title" required>
					</md-input-container>
					<md-input-container  class="dashboard__input dashboard__input--summary">
						<label>Síntesis</label>
						<textarea ng-model="$ctrl.resource.summary" required></textarea>
					</md-input-container>
			</div>
			<rd-post modules="$ctrl.resource.postBody" relative="$ctrl.uid" on-delete="$ctrl.onDeletePost"></rd-post>
		</md-content>
	</div>
</div>

<!-- STEP RECURSO -->
<div class="dashboard__wrapper" ng-if="$ctrl.currentStep == 'recurso'" ng-hide="$ctrl.loading">
	<div class="dashboard__container"  layout="row" layout-align="start stretch">
		<md-content class="dashboard__sidenav" data-type="{{$ctrl.resource.type}}">
			<div layout="row" class="dashboard__sidenav--top">
				<div class="thumbnail thumbnail--rounded thumbnail--50" ng-hide="$ctrl.resource.thumbnail == ''">
					<img ng-src="{{$ctrl.resource.thumbnail}}" alt="Miniatura del recurso">
				</div>
				<div flex class="dashboard__sidenav--head-resource">
					<h2 class="dashboard__sidenav--head">{{$ctrl.headText}}</h2>
					<h2 class="dashboard__sidenav--subhead">{{$ctrl.resource.category}}</h2>
				</div>
			</div>
			<h1 class="rd__headpost--sidenav">{{$ctrl.resource.title}}</h1>
			<p class="rd__headpost">{{$ctrl.resource.summary | truncate:140}}</p>
		</md-content>
		
		<md-content  class="dashboard__content" flex>
			<div class="dropzone dz__custom dz-software-clickable"
					data-type="{{$ctrl.resource.type}}"
					options="$ctrl.dzOptionsSoftware"
					callbacks="$ctrl.dzCallbacksSoftware"
					methods="$ctrl.dzMethods"
					ng-dropzone
					ng-hide="$ctrl.resource.files.length > 0"></div>
			<div ng-show="$ctrl.resource.files.length > 0">
				<md-table-container class="table__files">
					<table md-table multiple>
						<thead md-head md-order="$ctrl.myOrder">
							<tr md-row>
								<th md-column>Nombre</th>
								<th md-column md-numeric>Tamaño</th>
							</tr>
						</thead>
						<tbody md-body>
							<tr ng-repeat="file in $ctrl.resource.files">
								<td md-cell><i class="{{file.icon}}"></i> <span>{{file.name}}</span></td>
								<td md-cell><span>{{file.size | numeraljs:'0b'}}</span></td>
							</tr>
							<tr class="table__files--summary-cell">
								<td md-cell></td>
								<td md-cell><span class="table__files--summary">{{$ctrl.resource.files.length}} Archivos, Total: {{$ctrl.sumfiles($ctrl.resource.files) | numeraljs:'0b'}}</span></td>
							</tr>
						</tbody>
					</table>
				</md-table-container>
				<div layout="row">
					<span flex></span>
					<md-button class="md-raised" ng-click="$ctrl.removeAllFiles()">Eliminar todos</md-button>
					<md-button class="md-raised dz-clickable" ng-click="null"><i class="fa fa-upload"></i> Agregar</md-button>
				</div>
			</div>
			<div class="dashboard__box" ng-if="$ctrl.resource.type == 'mediateca'">
				<h4 class="color-grey font-medium">Palabras Claves</h4>
				<md-chips ng-model="$ctrl.resource.tags" placeholder="Ingresá un tag" md-separator-keys="$ctrl.tagsKeys">
			</div>
			<div layout="row" layout-align="start" class="dashboard__row">
				<div flex class="dashboard__box" ng-if="$ctrl.resource.type !== 'herramienta'">
					<h6 class="font-medium color-black-light margin">Uso del Recurso</h6>
					<div flex="100" ng-repeat="item in $ctrl.usabilities">
						<md-checkbox ng-checked="$ctrl.exists(item, $ctrl.resource.usability)" ng-click="$ctrl.toggle(item, $ctrl.resource.usability)">
							{{ item }}
						</md-checkbox>
					</div>
				</div>
				<div flex class="dashboard__box" ng-if="$ctrl.resource.type == 'herramienta'">
					<h6 class="font-medium color-black-light margin">Plataformas</h6>
					<div flex="100" ng-repeat="item in $ctrl.platforms">
						<md-checkbox ng-checked="$ctrl.exists(item, $ctrl.resource.platform)" ng-click="$ctrl.toggle(item, $ctrl.resource.platform)">
							{{ item }}
						</md-checkbox>
					</div>
				</div>
				<div flex class="dashboard__box">
					<h6 class="font-medium color-black-light margin">Recomendado para</h6>
					<div flex="100" ng-repeat="item in $ctrl.accessibilities">
						<md-checkbox ng-checked="$ctrl.exists(item, $ctrl.resource.accessibility)" ng-click="$ctrl.toggle(item, $ctrl.resource.accessibility)">
							{{ item }}
						</md-checkbox>
					</div>
				</div>
			</div>
		</md-content>
	</div>
	
</div>

<!-- STEP VINCULO -->
<div class="dashboard__wrapper" ng-if="$ctrl.currentStep == 'vinculo'" ng-hide="$ctrl.loading">
    <div class="dashboard__container"  layout="row" layout-align="start stretch">
		<md-content class="dashboard__sidenav" data-type="{{$ctrl.resource.type}}">
			<div layout="row" class="dashboard__sidenav--top">
				<div class="thumbnail thumbnail--rounded thumbnail--50" ng-hide="$ctrl.resource.thumbnail == ''">
					<img ng-src="{{$ctrl.resource.thumbnail}}" alt="Miniatura de la {{$ctrl.headText}}">
				</div>
				<div flex class="dashboard__sidenav--head-resource">
					<h2 class="dashboard__sidenav--head color-propuestas">{{$ctrl.headText}}</h2>
					<h2 class="dashboard__sidenav--subhead color-propuestas">{{$ctrl.resource.category}}</h2>
				</div>
			</div>
			<h1 class="rd__headpost--sidenav">{{$ctrl.resource.title}}</h1>
			<p class="rd__headpost">{{$ctrl.resource.summary | truncate:140}}</p>
			<div class="vinculo__files">
				<div><span class="text-uppercase color-black-light">{{$ctrl.resource.files.length}} Archivos | {{$ctrl.sumfiles($ctrl.resource.files) | numeraljs:'0b'}}</span></div>
				<div class="text-uppercase color-black-light">Curado por: {{$ctrl.resource.owner.name}}</div>
		</div>
		</md-content>
		
		<md-content  class="dashboard__content" flex>
			<div class="dashboard__box" ng-if="$ctrl.showViculo">
				<h4 class="font-medium color-grey">Recursos contenidos en esta propuesta</h4>
				<div class="dashboard__search">
					<input type="text" ng-model="$ctrl.filterText" autofocus>
				</div>
			<md-conten>
					<md-expansion-panel class="option-panel">
						
						 <md-expansion-panel-collapsed class="vinculados__recursos">
								<div flex><h6 class="font-light color-primary text-center text-uppercase">{{$ctrl.resource.links.length}} Recursos vinculados</h6></div>
								<md-expansion-panel-icon></md-expansion-panel-icon>
						 </md-expansion-panel-collapsed>
						
						
						 <md-expansion-panel-expanded>
						
							 <md-expansion-panel-header ng-click="$panel.collapse()" class="vinculados__recursos">
									<div flex><h6 class="font-light color-primary text-center">{{$ctrl.resource.links.length}} Recursos vinculados</h6></div>
									<md-expansion-panel-icon></md-expansion-panel-icon>
							 </md-expansion-panel-header>
						
							 <md-expansion-panel-content>
									<md-list-item ng-repeat="item in $ctrl.resource.links">
											<div  layout="row" layout-padding>
												<div>
														<div class="thumbnail thumbnail--rounded thumbnail--50" ng-hide="item.thumbnail == ''">
															<img ng-src="{{item.thumbnail}}" alt="Miniatura de la Propuesta Pedagógica">
														</div>
												</div>
												<div flex>
														<div class="color-{{item.type}}" layout="flex" layout-align="start center">
															<i class="ri" ng-class="'ri-'+item.type"></i> <span>{{item.typeCaption}}</span>
														</div>
														<div><strong>{{item.title}}</strong></div>
														<div><p>{{item.summary}}</p></div>
												</div>
												<md-checkbox class="md-secondary" ng-checked="$ctrl.existsObject(item, $ctrl.resource.links)" ng-click="$ctrl.toggleObject(item, $ctrl.resource.links)"
																		 aria-label="Agregar/quitar {{item.title}}"></md-checkbox>
											</div>
										</md-list-item>
							 </md-expansion-panel-content>
						
						 </md-expansion-panel-expanded>
						
					 </md-expansion-panel>
				</md-content>
				<md-list ng-cloak>
						<md-list-item ng-repeat="item in $ctrl.publisheds">
							<div  layout="row" layout-padding>
								<div>
										<div class="thumbnail thumbnail--rounded thumbnail--50" ng-hide="item.thumbnail == ''">
											<img ng-src="{{item.thumbnail}}" alt="Miniatura de la Propuesta Pedagógica">
										</div>
								</div>
								<div flex>
										<div class="color-{{item.type}}" layout="flex" layout-align="start center">
											<i class="ri" ng-class="'ri-'+item.type"></i> <span>{{item.typeCaption}}</span>
										</div>
										<div><strong>{{item.title}}</strong></div>
										<div><p>{{item.summary}}</p></div>
								</div>
								<md-checkbox class="md-secondary" ng-checked="$ctrl.existsObject(item, $ctrl.resource.links)" ng-click="$ctrl.toggleObject(item, $ctrl.resource.links)"
														 aria-label="Agregar/quitar {{item.title}}"></md-checkbox>
							</div>
						</md-list-item>
				</md-list>
			</div>
			<div class="dashboard__box">
				<h4 class="color-grey font-medium">Palabras Claves</h4>
				<md-chips ng-model="$ctrl.resource.tags" placeholder="Ingresá un tag" md-separator-keys="$ctrl.tagsKeys">
			</div>
		</md-content>
	</div>
</div>

<!-- STEP PUBLICAR -->
<div class="dashboard__wrapper" ng-if="$ctrl.currentStep == 'publicar'" ng-hide="$ctrl.loading">
	<div class="dashboard__preview--header bg-primary">
		<h2><i class="fa fa-angle-down"></i> Previsualización <i class="fa fa-angle-down"></i></h2>
	</div>
	<resource-view resource="$ctrl.resource" class="dashboard__preview"></resource-view>
</div>