<rd-card class="rd-card__addnew" ng-if="$ctrl.resource.type === 'addnew'">
		<rd-card-body class="rd-card__addnew--body">
			<ul class="new-resource__list">
				<li ng-repeat="item in $ctrl.resource.options">
					<a ui-sref="curador.new({ type: item.section })" layout="row" layout-align="start center">
						<i class="{{item.icon}} color-{{item.section}} ri-3x"></i>
						<span class="new-resource__item">{{item.caption}}</span>
					</a>
				</li>
			</ul>
			<div role="button" class="new-resource__button" ng-hide="$ctrl.resource.clicked" ng-click="$ctrl.resource.clicked = true">
				<div class="new-resource__button--center">
				</div>
			</div>
		</rd-card-body>
</rd-card>

<!-- Herramienta -->
<rd-card data-rd-section="{{$ctrl.resource.type}}" ng-if="$ctrl.resource.type == 'herramienta'">
		<rd-card-toolbar ng-if="$ctrl.editable">
			<div layout="row">
				<div class="rd-card__status" flex ng-hide="$ctrl.resource.published == undefined"> <i class="fa fa-check-circle-o"></i>	Publicado</div>
				<div class="rd-card__status" flex ng-show="$ctrl.resource.published == undefined"> <i class="fa fa-save"></i> Guardado</div>
				<md-button ng-click="$ctrl.deleteResource()" class="bordered md-raised md-mini rd-card__button--delete" aria-label="Eliminar módulo">
					<md-icon md-font-icon="">delete</md-icon>
				</md-button>
				<md-button ng-click="$ctrl.editResource()" class="bordered mini-button md-button md-ink-ripple rd-card__button--edit">
					<div layout="row">
							<md-icon class="mi-mode-edit"></md-icon> <span>Editar</span>
					</div>
				</md-button>
			</div>
		</rd-card-toolbar>
		<rd-card-header>
				<div class="rd-card__header--wrapper" layout="row" layout-align="start center">
						<span class="rd-card__icon--circle">
							<i class="ri ri-3x" ng-class="'ri-'+$ctrl.resource.type"></i>
						</span>
						<span class="rd-card__header--type rd__text--caption">{{$ctrl.resource.typeCaption}}</span>
						<span class="rd-card__header--level rd__text--caption">{{$ctrl.resource.category}}</span>
				</div>
		</rd-card-header>
		<rd-card-body>
				<div layout="row">
					<div class="rd-card__thumbnail">
						<img ng-src="{{$ctrl.resource.thumbnail}}" alt="Miniatura del recurso" >
					</div>
					<div flex class="rd-card__body--custom">
						<h1 class="rd-card__title--v1">{{$ctrl.resource.title}}</h1>
						<p class="rd-card__paragraph">{{$ctrl.resource.summary | truncate:140 }}</p>
						<p><strong class="rd-card__updated rd__color--grey-light ">Actualizado <strong am-time-ago="$ctrl.resource.createdAt"></strong> </strong></p>
						<p><strong class="rd-card__owner">{{$ctrl.resource.owner.name}}</strong></p>
					</div>
				</div>

		</rd-card-body>
</rd-card>

<!-- Propuesta -->
<rd-card data-rd-section="{{$ctrl.resource.type}}"  ng-if="$ctrl.resource.type == 'propuesta'">
	<rd-card-toolbar ng-if="$ctrl.editable">
		<div layout="row">
				<div class="rd-card__status" flex ng-hide="$ctrl.resource.published == undefined"> <i class="fa fa-check-circle-o"></i>	Publicado</div>
				<div class="rd-card__status" flex ng-show="$ctrl.resource.published == undefined"> <i class="fa fa-save"></i> Guardado</div>
				<md-button ng-click="$ctrl.deleteResource()" class="bordered md-raised md-mini rd-card__button--delete" aria-label="Eliminar módulo">
					<md-icon md-font-icon="">delete</md-icon>
				</md-button>
				<md-button ng-click="$ctrl.editResource()" class="bordered mini-button md-button md-ink-ripple rd-card__button--edit">
					<div layout="row">
							<md-icon class="mi-mode-edit"></md-icon> <span>Editar</span>
					</div>
				</md-button>
		</div>
	</rd-card-toolbar>
	<rd-card-cover ng-if="$ctrl.resource.thumbnail">
			<img ng-src="{{$ctrl.resource.thumbnail}}" alt="Miniatura del recurso">
	</rd-card-cover>
	<rd-card-header>
			<div class="rd-card__header--wrapper" layout="row" layout-align="start center">
					<span class="rd-card__icon--circle">
						<i class="ri ri-3x ri-propuestas"></i>
					</span>
					<span class="rd-card__header--type rd__text--caption">{{$ctrl.resource.typeCaption}}</span>
					<span class="rd-card__header--level rd__text--caption">{{$ctrl.resource.nivel[0]}}</span>
			</div>
	</rd-card-header>
	<rd-card-body>
			<h1 class="rd-card__title--v1">{{$ctrl.resource.title}}</h1>
			<p class="rd-card__paragraph">{{$ctrl.resource.summary | truncate:140 }}</p>
			<p><strong class="rd-card__updated rd__color--grey-light ">Actualizado <strong am-time-ago="$ctrl.resource.updatedAt"></strong> </strong></p>
			<p><strong class="rd-card__owner">{{$ctrl.resource.owner.name}}</strong></p>
	</rd-card-body>
	<rd-card-footer>
		<span class="rd__text--caption">Contiene {{$ctrl.resource.links.length}} Recursos</span>
	</rd-card-footer>
</rd-card>

<!-- Activdad -->
<rd-card data-rd-section="{{$ctrl.resource.type}}" ng-if="$ctrl.resource.type == 'actividad'">
	<rd-card-toolbar ng-if="$ctrl.editable">
		<div layout="row">
				<div class="rd-card__status" flex ng-hide="$ctrl.resource.published == undefined"> <i class="fa fa-check-circle-o"></i>	Publicado</div>
				<div class="rd-card__status" flex ng-show="$ctrl.resource.published == undefined"> <i class="fa fa-save"></i> Guardado</div>
				<md-button ng-click="$ctrl.deleteResource()" class="bordered md-raised md-mini rd-card__button--delete" aria-label="Eliminar módulo">
					<md-icon md-font-icon="">delete</md-icon>
				</md-button>
			<md-button ng-click="$ctrl.editResource()" class="bordered mini-button md-button md-ink-ripple rd-card__button--edit">
				<div layout="row">
						<md-icon class="mi-mode-edit"></md-icon> <span>Editar</span>
				</div>
			</md-button>
		</div>
	</rd-card-toolbar>
	<rd-card-header>
			<div class="rd-card__header--wrapper" layout="row" layout-align="start center">
					<span class="rd-card__icon--circle">
						<i class="ri ri-3x ri-actividades"></i>
					</span>
					<span class="rd-card__header--type rd__text--caption">{{$ctrl.resource.typeCaption}}</span>
					<span class="rd-card__header--level rd__text--caption">{{$ctrl.resource.nivel[0]}}</span>
			</div>
	</rd-card-header>
	<rd-card-body>
			<div layout="row">
				<div class="rd-card__thumbnail">
					<img ng-src="{{$ctrl.resource.thumbnail}}" alt="Miniatura del recurso" >
				</div>
				<div flex class="rd-card__body--custom">
					<h1 class="rd-card__title--v1">{{$ctrl.resource.title}}</h1>
					<p class="rd-card__paragraph">{{$ctrl.resource.summary | truncate:140 }}</p>
					<p><strong class="rd-card__updated rd__color--grey-light ">Actualizado <strong am-time-ago="$ctrl.resource.createdAt"></strong> </strong></p>
					<p><strong class="rd-card__owner">{{$ctrl.resource.owner.name}}</strong></p>
				</div>
			</div>
			
	</rd-card-body>
</rd-card>

<!-- Orientacion -->
<rd-card data-rd-section="{{$ctrl.resource.type}}" ng-if="$ctrl.resource.type == 'orientacion'">
	<rd-card-toolbar ng-if="$ctrl.editable">
		<div layout="row">
			<div class="rd-card__status" flex ng-hide="$ctrl.resource.published == undefined"> <i class="fa fa-check-circle-o"></i>	Publicado</div>
			<div class="rd-card__status" flex ng-show="$ctrl.resource.published == undefined"> <i class="fa fa-save"></i> Guardado</div>
			<md-button ng-click="$ctrl.deleteResource()" class="bordered md-raised md-mini rd-card__button--delete" aria-label="Eliminar módulo">
				<md-icon md-font-icon="">delete</md-icon>
			</md-button>
			<md-button ng-click="$ctrl.editResource()" class="bordered mini-button md-button md-ink-ripple rd-card__button--edit">
				<div layout="row">
						<md-icon class="mi-mode-edit"></md-icon> <span>Editar</span>
				</div>
			</md-button>
		</div>
	</rd-card-toolbar>
	<rd-card-header>
			<div class="rd-card__header--wrapper" layout="row" layout-align="start center">
					<span class="rd-card__icon--circle">
						<i class="ri ri-3x ri-orientaciones"></i>
					</span>
					<span class="rd-card__header--type rd__text--caption">{{$ctrl.resource.typeCaption}}</span>
					<span class="rd-card__header--level rd__text--caption">{{$ctrl.resource.category}}</span>
			</div>
	</rd-card-header>
	<rd-card-body>
			<div layout="row">
				<div class="rd-card__thumbnail">
					<img ng-src="{{$ctrl.resource.thumbnail}}" alt="Miniatura del recurso" >
				</div>
				<div flex class="rd-card__body--custom">
					<h1 class="rd-card__title--v1">{{$ctrl.resource.title}}</h1>
					<p class="rd-card__paragraph">{{$ctrl.resource.summary | truncate:140 }}</p>
					<p><strong class="rd-card__updated rd__color--grey-light ">Actualizado <strong am-time-ago="$ctrl.resource.createdAt"></strong> </strong></p>
					<p><strong class="rd-card__owner">{{$ctrl.resource.owner.name}}</strong></p>
				</div>
			</div>
			
	</rd-card-body>
</rd-card>

<!-- Mediateca -->
<rd-card data-rd-section="{{$ctrl.resource.type}}" ng-if="$ctrl.resource.type == 'mediateca'">
		<rd-card-toolbar ng-if="$ctrl.editable">
			<div layout="row">
				<div class="rd-card__status" flex ng-hide="$ctrl.resource.published == undefined"> <i class="fa fa-check-circle-o"></i>	Publicado</div>
				<div class="rd-card__status" flex ng-show="$ctrl.resource.published == undefined"> <i class="fa fa-save"></i> Guardado</div>
				<md-button ng-click="$ctrl.deleteResource()" class="bordered md-raised md-mini rd-card__button--delete" aria-label="Eliminar módulo">
					<md-icon md-font-icon="">delete</md-icon>
				</md-button>
				<md-button ng-click="$ctrl.editResource()" class="bordered mini-button md-button md-ink-ripple rd-card__button--edit">
					<div layout="row">
							<md-icon class="mi-mode-edit"></md-icon> <span>Editar</span>
					</div>
				</md-button>
			</div>
		</rd-card-toolbar>
		<rd-card-header>
				<div class="rd-card__header--wrapper" layout="row" layout-align="start center">
						<span class="rd-card__icon--circle">
							<i class="ri ri-3x" ng-class="'ri-'+$ctrl.resource.type"></i>
						</span>
						<span class="rd-card__header--type rd__text--caption">{{$ctrl.resource.typeCaption}}</span>
						<!--<span class="rd-card__header--level rd__text--caption">{{$ctrl.resource.category}}</span>-->
				</div>
		</rd-card-header>
		<rd-card-body>
				<div layout="row">
					<div class="rd-card__thumbnail">
						<img ng-src="{{$ctrl.resource.thumbnail}}" alt="Miniatura del recurso" >
					</div>
					<div flex class="rd-card__body--custom">
						<h1 class="rd-card__title--v1">{{$ctrl.resource.title}}</h1>
						<p class="rd-card__paragraph">{{$ctrl.resource.summary | truncate:140 }}</p>
						<p><strong class="rd-card__updated rd__color--grey-light ">Actualizado <strong am-time-ago="$ctrl.resource.createdAt"></strong> </strong></p>
						<p><strong class="rd-card__owner">{{$ctrl.resource.owner.name}}</strong></p>
					</div>
				</div>
				
		</rd-card-body>
</rd-card>


<!-- Desafios -->
<rd-card data-rd-section="{{$ctrl.resource.type}}" ng-if="$ctrl.resource.type == 'desafio'">
	<rd-card-toolbar ng-if="$ctrl.editable">
		<div layout="row">
			<div class="rd-card__status" flex ng-hide="$ctrl.resource.published == undefined"> <i class="fa fa-check-circle-o"></i>	Publicado</div>
			<div class="rd-card__status" flex ng-show="$ctrl.resource.published == undefined"> <i class="fa fa-save"></i> Guardado</div>
			<md-button ng-click="$ctrl.deleteResource()" class="bordered md-raised md-mini rd-card__button--delete" aria-label="Eliminar módulo">
				<md-icon md-font-icon="">delete</md-icon>
			</md-button>
			<md-button ng-click="$ctrl.editResource()" class="bordered mini-button md-button md-ink-ripple rd-card__button--edit">
				<div layout="row">
						<md-icon class="mi-mode-edit"></md-icon> <span>Editar</span>
				</div>
			</md-button>
		</div>
	</rd-card-toolbar>
	<rd-card-header>
			<div class="rd-card__header--wrapper" layout="row" layout-align="start center">
					<span class="rd-card__icon--circle">
						<i class="ri ri-3x" ng-class="'ri-'+$ctrl.resource.type"></i>
					</span>
					<span class="rd-card__header--type rd__text--caption">{{$ctrl.resource.typeCaption}}</span>
					<!--<span class="rd-card__header--level rd__text--caption">{{$ctrl.resource.category}}</span>-->
			</div>
	</rd-card-header>
	<rd-card-body>
			<div layout="row">
				<div class="rd-card__thumbnail">
					<img ng-src="{{$ctrl.resource.thumbnail}}" alt="Miniatura del recurso" >
				</div>
				<div flex class="rd-card__body--custom">
					<h1 class="rd-card__title--v1">{{$ctrl.resource.title}}</h1>
					<p class="rd-card__paragraph">{{$ctrl.resource.summary | truncate:140 }}</p>
					<p><strong class="rd-card__updated rd__color--grey-light ">Actualizado <strong am-time-ago="$ctrl.resource.createdAt"></strong> </strong></p>
					<p><strong class="rd-card__owner">{{$ctrl.resource.owner.name}}</strong></p>
				</div>
			</div>
			
	</rd-card-body>
</rd-card>


<!--
<rd-card data-rd-section="{{$ctrl.resource.type}}"  ng-if="$ctrl.resource.type == 'herramienta'">
		<rd-card-toolbar ng-if="$ctrl.editable">
			<div layout="row">
				<div flex>{{$state}}</div>
				<md-button ng-click="$ctrl.editResource()" class="bordered mini-button md-button md-ink-ripple rd-card__button--edit">
					<div layout="row">
							<md-icon class="mi-mode-edit"></md-icon> <span>Editar</span>
					</div>
				</md-button>
			</div>
		</rd-card-toolbar>
		<rd-card-cover ng-if="$ctrl.resource.thumbnail">
				<img ng-src="{{$ctrl.resource.thumbnail}}" alt="Miniatura del recurso">
		</rd-card-cover>
		<rd-card-header>
				<div class="rd-card__header--wrapper" layout="row" layout-align="start center">
						<span class="rd-card__icon--circle">
							<i class="ri ri-3x" ng-class="'ri-'+$ctrl.resource.type"></i>
						</span>
						<span class="rd-card__header--type rd__text--caption">{{$ctrl.resource.typeCaption}}</span>
						<span class="rd-card__header--level rd__text--caption">{{$ctrl.resource.nivel[0]}}</span>
				</div>
		</rd-card-header>
		<rd-card-body>
				<h1 class="rd-card__title--v1">{{$ctrl.resource.title}}</h1>
				<p class="rd-card__paragraph">{{$ctrl.resource.summary}}</p>
				<p><strong class="rd__text--caption rd__color--grey-light">Febrero 2017</strong></p>
				<p><strong class="rd__text--caption">Johan Mastropiero</strong></p>
		</rd-card-body>
		<rd-card-footer>
			<span class="rd__text--caption">Contiene 20 Recursos</span>
		</rd-card-footer>
</rd-card>
-->