<div class="kview" >
	<div class="kview__wrapper" layout-gt-xs="row">

		<div class="one_half"  layout="column" flex="85">			
			<section>

			<div class="kview__content" flex>
				<div  layout="row" layout-padding layout-align="center top"></div>
				<div flex >
					<h4 class="margin">{{$ctrl.resource.nombre}}</h4>					
					<p flex class="paragraph post__test kview__summary">{{$ctrl.resource.descripcion}}</p>					
								
							<div flex="100" ng-hide="$ctrl.resource.thumbnail === ''">
								<img class="responsive" ng-src="{{$ctrl.resource.thumbnail}}" alt="Miniatura">
							</div>

					
						<div >						
							<div flex="none">
									<p>NAP Relacionados</p>					
							</div>
							<div >
								<rd-post  flex class="kview__post" modules="$ctrl.resource.potencialidades" relative="$ctrl.uid" readonly="true"></rd-post>										
							</div>
						</div>


						<div >						
							<div flex="none">
									<p>Habilidades</p>					
								</div>
								<div >
									<rd-post  class="kview__summary" modules="$ctrl.resource.habilidad" relative="$ctrl.uid" readonly="true"></rd-post>										
								</div>
						</div>
		

						<div flex >		
							<rd-post  class="kview__summary"  modules="$ctrl.resource.armado" relative="$ctrl.uid" readonly="true"></rd-post>	
						</div>	


				</div>
			</div>
		</div>
	</section>
	<aside>
		<!--Lateral -->
		<div class="kview__sidenav"   layout-xs="hide">	
			<div layout="column" layout-padding class="layout-padding layout-column">
				<div flex class="flex">
					<div class="kview__thumnail">
						<md-button class="md-primary" style="color:#005173" ng-href="/ver/{{$ctrl.resource.type}}/{{$ctrl.resource._id}}" target="_blank">Ver kits</md-button>
					</div>

				</div>

			</div>

		</div>
	</aside>
		
	</div>

</div>