<div class="rview" >
	<div class="rview__wrapper" layout="row" layout-align="start stretch">
		<div class="rview__container"  layout="row" layout-align="start stretch" flex>			
			<div class="rview__content" flex>
				<div class="rview__content--bar bg-{{$ctrl.resource.type}}"></div>
				<div layout="column">
					<h1 flex class="rd__headpost  rd__headpost--title rview__head">{{$ctrl.resource.nombre}}</h1>
					<p flex class="paragraph post__test rview__summary">{{$ctrl.resource.descripcion}}</p>					
					<rd-post flex class="rview__post" modules="$ctrl.resource.postBody" relative="$ctrl.uid" readonly="true"></rd-post>	
				</div>
			</div>
		</div>
		
	</div>

</div>