<div class="kview" >
	<div class="kview__wrapper" layout-gt-xs="row">

		<div class="one_half"  layout="column" flex flex-gt-xs="70">			
			
			<div class="kview__content" flex>
				<div  layout="row" layout-padding layout-align="center top"></div>
				<div flex="70" flex-md="80" flex-sm="80" flex-xs="80" >
					<h1 class="margin">{{$ctrl.resource.nombre}}</h1>					
					<p flex class="paragraph post__test kview__summary">{{$ctrl.resource.descripcion}}</p>					
								
							<div flex="100" ng-hide="$ctrl.resource.thumbnail === ''">
								<img class="responsive" ng-src="{{$ctrl.resource.thumbnail}}" alt="Miniatura">
							</div>

						<div layout="row" layout-xs="column">						
						<div flex="10" flex-md="10" flex-sm="10" flex-xs="10" >
								<p>NAP</p>					
						</div>
						<div flex>
								<rd-post flex class="kview__post" modules="$ctrl.resource.potencialidades" relative="$ctrl.uid" readonly="true"></rd-post>										
						</div>
						</div>


						<div layout="row" layout-xs="column">						
								<div flex="10" flex-md="10" flex-sm="10" flex-xs="10" >
										<p>Habilidades</p>					
								</div>
								<div flex>
										<rd-post flex class="kview__post" modules="$ctrl.resource.habilidad" relative="$ctrl.uid" readonly="true"></rd-post>										
								</div>
						</div>
		

					<div layout="row" >		
					<rd-post flex class="kview__post" modules="$ctrl.resource.armado" relative="$ctrl.uid" readonly="true"></rd-post>	
					</div>	
				</div>
			</div>
		</div>

		<!--Lateral -->
		<div class="kview__sidenav"  layout="column" >	
				<div flex>
						<a target="_blank" ng-href="/ver/{{$ctrl.resource.type}}/{{$ctrl.resource._id}}">Ver</a>
				</div>

		</div>

		
	</div>

</div>