resource-view {
	display: block;	
}

.rview { 

	&__wrapper {
		border-radius: $border-radius-default;
		background-color: rgba($color-white, .8);
	}

	&__content {
		position: relative;
		padding: 2rem 2rem;
	}
	
	&__content--bar {
		content: '';
		position: absolute;
		left: -.5rem;
		top: 10rem;
		width: .5rem;
		height: 40%;
		border-radius: 100px;
	}

	&__sidenav {
		width: 35rem;
		border-left: solid 5px $color-grey-light;
	}

	&__sidenav--icon {
		width: 17rem;
	}

	&__sidenav--icon--head {
		text-align: center;
		padding-top: 1.2rem;
	}

	&__thumnail {
		margin: 0 auto;
	}

	&__head {
		margin-bottom: 2rem;
	}

	&__summary {
		margin-bottom: 3rem;
		font-size: 120%;
	}

	&__post {
		padding-right: 6rem;
	}

	&__subtitle {
		font-size: 3.5rem;
		font-weight: $font-secondary-bold;
	}

	&__button {
		width: 20rem;
	}

	&__border-bottom {
		border-bottom: solid 1px $color-grey;
	}

	&__links {
		background-color: $color-grey-light;
		padding: 2rem 2rem;
	}

	&__link {
		border: solid 1px transparent;
		text-decoration: none;
		border-radius: $border-radius-default;
		color: $color-black;
		
		&:hover {
			border-color: $color-black-light;
		}
	}

	&__resources--left {
		width: 17rem;
	}

	&__resources--right {
		width: 35rem;
	}
}