kit-view {
	display: block;	
}

h1 {
	font-size: 5.7vw;
}
h2 {
	font-size: 4.0vw;
}
h3 {
	font-size: 2.8vw;
}
/*p {
	font-size: 2.5vw;
}*/

@media (max-width: 800px) {
	aside, section { width: auto; float: none; }
}

.responsive {
    width: 100%;   
    height: auto;
}

.flex{
	padding: 8px;
}

.kview { 

	&__wrapper {
		border-radius: $border-radius-default;
		background-color: rgba($color-white, .8);
	}

	&__content {
		position: relative;
		padding: 2% 10% 2% 7%;
	}
	
	&__content--bar {
		content: '';
		position: absolute;
		left: -.5rem;
		top: 10rem;
		width: .5rem;
		height: 40%;
		border-radius: 100px;
	}

	&__sidenav {
		width: 35rem;
		border-left: solid 5px $color-grey-light;
	}

	&__sidenav--icon {
		width: 17rem;
	}

	&__sidenav--icon--head {
		text-align: center;
		padding-top: 1.2rem;
	}

	&__thumnail {
		margin: 0 auto;
		width: 120px;
    	height: 120px;
	}

	&__head {
		margin-bottom: 2rem;
	}

	&__summary {
		margin-bottom: 3rem;
		font-size: 100%;
	}

	&__post {
		padding-right: 1%;
	}

	&__subtitle {
		font-size: 3.5rem;
		font-weight: $font-secondary-bold;
	}

	&__button {
		width: 20rem;
	}

	&__border-bottom {
		border-bottom: solid 1px $color-grey;
	}

	&__links {
		background-color: $color-grey-light;
		padding: 2rem 2rem;
	}

	&__link {
		border: solid 1px transparent;
		text-decoration: none;
		border-radius: $border-radius-default;
		color: $color-black;
		
		&:hover {
			border-color: $color-black-light;
		}
	}

	&__resources--left {
		width: 17rem;
	}

	&__resources--right {
		width: 35rem;
	}

	/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
	.icon-bar {
		position: fixed;
		right: 1%;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	/* Style the icon bar links */
	.icon-bar a {
		display: block;
		text-align: center;
		padding: 16px;
		transition: all 0.3s ease;
		color: white;
		font-size: 20px;
	}

	/* Style the social media icons with color, if you want */
	.icon-bar a:hover {
		background-color: #000;
	}

	.facebook {
		background: #3B5998;
		color: white;
	}

	.twitter {
		background: #55ACEE;
		color: white;
	}

	.view-item {
		background: lightgrey;
		color: black;
	}

	.youtube {
		background: #bb0000;
		color: white;
	}
}