<div style="background-color: white">
	<div  layout="row" layout-align="center center" style="margin-bottom: 1%;">
		<div>
			<p  class="impact-text-large" style="text-align: center; margin-top: 20px; font-size: 40px; color: #8BBF1F; font-family: pacifico-regular, sans-serif;">Recursos</p>	
		</div>
	</div>
<!-- METER DESCRICIONES DEBAJO DE LOS BOTONES -->
<div layout="row" layout-align="center center" style="margin-bottom: 0.5%;" id="donate" class="recursoBot"  layout-sm="column"  layout-xs="column">
		<div style="margin-right: 10px; margin-bottom: 10px; max-width: min-content;">
			<label class="herr responsive" ng-click="$ctrl.fetchDataFilter($event,'herramienta')"><input type="checkbox" name="subtype" ng-model="$ctrl.herramienta"   ><span style="width: 250px; text-align: center; font-size: 1.4em; padding:10px 0px !important;">Herramientas</span></label>
			<div style="margin-top: 6rem;text-align: center;"> Programas, juegos y enlaces. </div>
		</div>
		<div style="margin-right: 10px; margin-bottom: 10px; max-width: min-content;">
			<label class="mat responsive" ng-click="$ctrl.fetchDataFilter($event,'materialapoyo')"><input type="checkbox" name="subtype" ng-model="$ctrl.materialapoyo"  ><span style="width: 250px; text-align: center; font-size: 1.4em; padding:10px 0px !important;">Material de apoyo</span></label>
			<div style="margin-top: 6rem;text-align: center;"> Contenidos conceptuales y orientaciones. </div>
		</div>
		<div style="margin-right: 10px; margin-bottom: 10px; max-width: min-content;">
			<label class="tuto responsive" ng-click="$ctrl.fetchDataFilter($event,'tutorial')"><input type="checkbox" name="subtype" ng-model="$ctrl.tutorial"   ><span style="width: 250px; text-align: center; font-size: 1.4em; padding:10px 0px !important;">Tutoriales</span></label>
			<div style="margin-top: 6rem;text-align: center;"> Guías explicativas sobre el uso de programas y plataformas. </div>
		</div>
		<div style="margin-right: 10px; margin-bottom: 10px; max-width: min-content;">
			<label class="ejem responsive" ng-click="$ctrl.fetchDataFilter($event,'ejemplos')"><input type="checkbox" name="subtype" ng-model="$ctrl.ejemplos"   ><span style="width: 250px; text-align: center; font-size: 1.4em; padding:10px 0px !important;">Ejemplos para aplicar</span></label>
			<div style="margin-top: 6rem;text-align: center;"> Código listo para usar. </div>
		</div>
		<div style="margin-right: 10px; margin-bottom: 10px; max-width: min-content;">
			<label class="exp responsive" ng-click="$ctrl.fetchDataFilter($event,'experiencia')"><input type="checkbox" name="subtype" ng-model="$ctrl.experiencia"   ><span style="width: 250px; text-align: center; font-size: 1.4em; padding:10px 0px !important;">Experiencias</span></label>
			<div style="margin-top: 6rem;text-align: center;"> Experiencias y casos de aplicación de robótica educativa. </div>
		</div>
	</div>
<!--TODO CAMBIAR POR UN SPACER-->
	<div style="margin-bottom: 15px; ">
		<hr>
	</div>
<!-- CAMBIAR BOTONES, SACAR BORDES Y METER ICONOS - ALINEAR -->
<div layout="row" layout-align="center center" style="margin-bottom: 0.5%;" id="donate" class="recursoBot"  layout-sm="column"  layout-xs="column">
		<div style="margin-right: 10px;" ng-click="$ctrl.fetchDataFilter($event,'Video')">
			<p  style="text-align: center;"><img  style="width: 50%;" ng-src="assets/images/recurso-video-line.svg" class="pointer"></p>
			<label class="videos" style="border: none;"><input name="tipoRecurso" id="video" type="checkbox"  ng-model="$ctrl.video"  ><span style="width: 170px; text-align: center;padding: 4px 0px; font-size: large;">video</span></label>
		</div>
		<div style="margin-right: 10px;" ng-click="$ctrl.fetchDataFilter($event,'Audio')">
			<p style="text-align: center;"><img  style="width: 50%;" ng-src="assets/images/recurso-audio-line.svg" class="pointer"></p>
			<label class="audio" style="border: none;"><input name="tipoRecurso" id="audio" type="checkbox" ng-model="$ctrl.audio" ><span style="width: 170px;text-align: center; padding: 4px 0px; font-size: large;">audio</span></label>
		</div>
		<div style="margin-right: 10px;" ng-click="$ctrl.fetchDataFilter($event,'Plantilla')">
			<p  style="text-align: center;"><img  style="width: 50%;" ng-src="assets/images/recurso-programa_line.svg" class="pointer"></p>
			<label class="programa" style="border: none;"><input name="tipoRecurso" id="programa" type="checkbox"  ng-model="$ctrl.programa"  ><span style="width: 170px; text-align: center;padding: 4px 0px; font-size: large;">programa</span></label>
		</div>
		<div style="margin-right: 10px;" ng-click="$ctrl.fetchDataFilter($event,'Imágen')">
			<p  style="text-align: center;"><img  style="width: 50%;" ng-src="assets/images/recurso-imagen-line.svg" class="pointer"></p>
			<label class="imagen" style="border: none;"><input name="tipoRecurso" id="imagen" type="checkbox"  ng-model="$ctrl.imagen"  ><span style="width: 170px; text-align: center;padding: 4px 0px; font-size: large;">imagen</span></label>
		</div>
		<div style="margin-right: 10px;" ng-click="$ctrl.fetchDataFilter($event,'Texto')">
			<p  style="text-align: center;"><img  style="width: 50%;" ng-src="assets/images/recurso-pdf-line.svg" class="pointer"></p>
			<label class="PDF" style="border: none;"><input name="tipoRecurso" id="PDF" type="checkbox"  ng-model="$ctrl.PDF"  ><span style="width: 170px; text-align: center;padding: 4px 0px; font-size: large;">PDF</span></label>
		</div>
		<div style="margin-right: 10px;" ng-click="$ctrl.fetchDataFilter($event,'Presentación')">
			<p  style="text-align: center;"><img  style="width: 50%;" ng-src="assets/images/recurso-presentacion-line.svg" class="pointer"></p>
			<label class="presentacion" style="border: none;"><input name="tipoRecurso" id="presentacion" type="checkbox"  ng-model="$ctrl.presentacion"  ><span style="width: 170px; text-align: center;padding: 4px 0px; font-size: large;">presentacion</span></label>
		</div>
	</div>
	<div style="background-color: #eef2f5">
		<rd-waterfall item-width="350" gutter="24" load-more-text="Ver más recursos" fetch="$ctrl.fetchData()" item-click="$ctrl.viewOrientacionPedagogica_" search-text="$ctrl.searchText" obligareset="$ctrl.resetWaterfall">
			<rd-item-template>           
				<resource-card resource="item" editable="false" vista="'social'"></resource-card>
			</rd-item-template>
		</rd-waterfall>
	</div>
</div>