<header class="dashboard__header">
	<rd-navbar class="navbar navbar__dashboard" rd-compact="true">
		<rd-navbar-brand>
				<div class="navbar__logo">
					<a ui-sref="curador.dashboard">
						<img ng-src="assets/robotica-logo-white-header.svg" alt="Logo">
					</a>
				</div>
				<div class="navbar__logo--scrolled">
					<a ui-sref="curador.dashboard">
						<img ng-src="assets/robotica-logo-white-header.svg" alt="Logo">
					</a>
				</div>
				
		</rd-navbar-brand>
		<rd-navbar-navigation layout="row" layout-padding>
			<div class="dashboard__navbar--caption">Tablero</div>
			<div flex>
				<md-autocomplete
						md-autofocus="true"
						ng-disabled="$ctrl.isDisabled"
						md-no-cache="$ctrl.noCache"
						md-selected-item="$ctrl.selectedItem"
						md-search-text-change="$ctrl.searchTextChange($ctrl.searchText)"
						md-search-text="$ctrl.searchText"
						md-selected-item-change="$ctrl.selectedItemChange(item)"
						md-items="item in $ctrl.querySearch($ctrl.searchText)"
						md-item-text="item.caption"
						md-min-length="0"
						placeholder="Filtrar"
						md-menu-class="autocomplete-custom-template",
						ng-model-options="{ 'debounce': 300 }"
						>
					<md-item-template>
						<span class="item-title">
							<i class="fa" ng-class="item.icon"></i>
							<span> {{item.caption}} </span>
						</span>
						<!--<span class="item-metadata">
							<span class="item-metastat" ng-repeat="meta in item.metastats">
								<small><i class="fa" ng-class="meta.icon"></i> <strong>{{meta.total}}</strong> {{meta.caption}}</small>
							</span>
						</span>-->
					</md-item-template>
				</md-autocomplete>
			</div>
		</rd-navbar-navigation>
		<rd-navbar-tools>
			<!--<rd-navbar-item navbar-item-icon="ri ri-lupa" navbar-item-caption="Buscar"></rd-navbar-item>-->
			<rd-navbar-item
					navbar-item-icon="mi mi-home"
					navbar-item-caption="Home"
					navbar-item-selected="true">
			</rd-navbar-item>
			<rd-navbar-item
					navbar-item-icon="mi mi-home"
					navbar-item-caption="Usuarios"
					navbar-item-selected="false"
					ng-click="$ctrl.goUserModule()">
			</rd-navbar-item>
			<rd-navbar-item
					navbar-item-icon="mi mi-person"
					navbar-item-caption="Profile"
					ng-hide="$ctrl.user.google.image.url !== undefined"
					ng-click="$ctrl.toggleProfile($event)">
			</rd-navbar-item>
			<div class="rd-navbar__item profile__avatar"
				 ng-show="$ctrl.user.google.image.url !== undefined"
				 ng-click="$ctrl.toggleProfile($event)">
					<img ng-src="{{$ctrl.user.google.image.url}}" alt="Avatar">
			</div>
		</rd-navbar-tools>
		<rd-navbar-body>
		</rd-navbar-body>
	</rd-navbar>
	<div class="profile__dropdown" ng-show="$ctrl.showingDropdown">
		<div class="profile__dropdown--caret">
			<i class="fa fa-caret-up fa-2x"></i>
		</div>
		<div class="profile__dropdown--username">{{$ctrl.user.name}}</div>
		<md-divider></md-divider>
		<div layout="row">
			<md-button class="md-raised md-mini profile__dropdown--logout">
				<div layout="row" layout-align="center center" ng-click="$ctrl.logout()">
					<i class="fa fa-sign-out"></i> <span>Salir</span>
				</div>
			</md-button>
		</div>
		
	</div>
</header>