
<div style="background-color: #e7e7e7 ">
<div  layout="row" layout-align="center center" style="margin-bottom: 0.5%;">
	<div>
	<p ng-hide="$ctrl.complementarias" class="impact-text-large" style="text-align: center; margin-top: 20px; font-size: 40px; color: #727272; font-family: pacifico-regular, sans-serif;">Propuestas Pedagógicas</p>	
	<p ng-show="$ctrl.complementarias" class="impact-text-large" style="text-align: center; margin-top: 20px; font-size: 40px; color: #727272; font-family: pacifico-regular, sans-serif;">Actividades complementarias</p>				
</div>	
		
	
	</div>

	<div layout="row" layout-align="center center" style="margin-bottom: 0.5%;" id="donate">
	
			<label id="b1" class="blue"><input id="b1" type="checkbox" ng-model="$ctrl.areaEmergente.pensamientoComputacional" ng-change="$ctrl.fetchDataFilter()"><span id="b1">PENSAMIENTO COMPUTACIONAL</span></label>	
			<label id="b2" class="green"><input id="b2" type="checkbox" ng-model="$ctrl.areaEmergente.programacion" ng-change="$ctrl.fetchDataFilter()"><span id="b2">PROGRAMACIÓN</span></label>
			<label id="b3" class="yellow"><input id="b3" type="checkbox" ng-model="$ctrl.areaEmergente.robotica" ng-change="$ctrl.fetchDataFilter()"><span id="b3">ROBÓTICA</span></label>

</div>

<div layout="row" layout-align="center center" style="margin-bottom: 0.5%;" id="donate">
	<div>
	<label class="mat"><input type="checkbox" name="area" ng-model="$ctrl.area.matematica"   ng-click="$ctrl.fetchDataFilter()"><span style="width: 130px; background-image: url(/assets/images/matematica.svg); background-repeat: no-repeat;" >Matemática</span></label>
	<label class="nat"><input type="checkbox" name="area" ng-model="$ctrl.area.naturales"  ng-click="$ctrl.fetchDataFilter()"><span style="width: 130px; background-image: url(/assets/images/naturales.svg); background-repeat: no-repeat;">Cs. Naturales</span></label>
	<label class="pracLen"><input type="checkbox" name="area" ng-model="$ctrl.area.lengua"   ng-click="$ctrl.fetchDataFilter()"><span style="width: 180px; background-image: url(/assets/images/lengua.svg); background-repeat: no-repeat;">Prácticas del lenguaje</span></label>
</div>
	<div style="margin-left: 35px;">
		<label class="quinto"><input type="checkbox"  ng-model="$ctrl.anio.quinto" ng-change="$ctrl.fetchDataFilter()" ><span style="width: 50px;">5to año</span></label>
		<label class="sexto"><input type="checkbox" ng-model="$ctrl.anio.sexto" ng-change="$ctrl.fetchDataFilter()"><span style="width: 50px;">6to año</span></label>
	</div>
</div>
	

 <!--div class="bottom-sheet-demo inset" layout="row" layout-sm="column" layout-align="center"  ng-if="$ctrl.isMobile">
    <md-button flex="100" class="md-button-filter" ng-click="$ctrl.muestraFiltroMobile = !$ctrl.muestraFiltroMobile">Filtrar</md-button>
  </div>


<div layout-gt-xs="row"  layout-xs ="column" ng-show="!$ctrl.isMobile || $ctrl.muestraFiltroMobile">
	<div  flex   ng-repeat="item in $ctrl.orientacionesFiltro" ng-click="$ctrl.itemClicked(item)"  
			style="text-align: center;" layout="column">	 
	  <div flex="auto"></div>
      <div class="preview-glyphs">
		<md-icon 			          
		style="font-size: 48px; height: 48px"
            class="iconPed-{{item.name}} step"></md-icon>
      </div>
      <div class="preview-scale">
        <span class="step" >{{ item.desc }}</span>
	  </div>
	</div>
</div-->   
 



	<!--section class="resources_waterfall" style="margin-top: 3%;"-->
		<rd-waterfall item-width="350" gutter="24" load-more-text="Ver más recursos" fetch="$ctrl.fetchData()" item-click="$ctrl.viewOrientacionPedagogica_" search-text="$ctrl.searchText" obligareset="$ctrl.resetWaterfall">
			
					<rd-item-template>           
							<orientacionpedagogica-card resource="item" editable="item.type !== 'addnew'" vista="'social'"></orientacionpedagogica-card>
			</rd-item-template>
		</rd-waterfall>
	<!--/section-->
</div>