.groupX {
	font-size: 16px;
	margin: 20px 0;
	padding: 3px 15px 3px 15px;
	color: rgb(49, 46, 46);
	background-color: rgba(224, 224, 224, 0.96);
	text-transform: none;
	font-weight: 400;
	min-width:100px;
  }
  
  .md-button.left {
	border-radius: 10px 0 0 10px;
  }
  
  .md-button.middle {
	border-radius: 0;
	border-left: 1px solid rgba(230, 230, 230, 0.96);
	border-right: 1px solid rgba(230, 230, 230, 0.96);
  }
  
  .md-button.right {
	border-radius: 0 10px 10px 0;
  }
  
  .md-button:not([disabled]):hover {
	background-color: rgba(193, 193, 193, 0.96);
	color: rgba(44, 65, 164, 0.96);
	transition: 0.3s;
  }
  
  .estilo{
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 30px solid transparent;
	border-left: 30px solid transparent;
	position: relative;
	left: 50%;
	margin-left: -30px;
	bottom: -25px;
	border-top-color: #f0f1f1;
	margin-top: -2%;
  }

	.iconDemo .glyph {
		border-bottom: 1px dotted #ccc;
		padding: 10px 0 20px;
		margin-bottom: 20px; 
 }
 .iconDemo .preview-glyphs {
		display: flex;
		flex-direction: row; 
 } 
 .iconDemo .step {
		flex-grow: 1;
		line-height: 0.5; 
 }  
 .iconDemo .material-icons.md-18 {
		font-size: 18px; 
 }
 .iconDemo .material-icons.md-24 {
		font-size: 24px; 
 }
 .iconDemo .material-icons.md-36 {
		font-size: 36px; 
 }
 .iconDemo .material-icons.md-48 {
		font-size: 48px; 
 }
 .iconDemo .material-icons.md-dark {
		color: rgba(0, 0, 0, 0.54); 
 }
 .iconDemo .material-icons.md-dark.md-inactive {
		color: rgba(0, 0, 0, 0.26); 
 }
 .iconDemo .material-icons.md-light {
		color: white; 
 }
 .iconDemo .material-icons.md-light.md-inactive {
		color: rgba(255, 255, 255, 0.3); 
 }