<md-dialog class="noticia-dialog" aria-label="Recurso {{$ctrl.resource.title}}">
	<md-toolbar class="bg-{{$ctrl.resource.type}}">
		<div class="md-toolbar-tools">
			<span flex></span>
			<md-button class="md-icon-button" ng-click="$ctrl.closeDialog()">
				<i class="fa fa-times fa-2x" aria-hidden="true" aria-label="Cerrar dialogo"></i>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content class="mview__content">
		<div class="rview" >
			<div class="rview__wrapper" layout="row" layout-align="start stretch">
				<div class="rview__container"  layout="column" layout-align="start stretch" flex>
					<h1 flex class="rd__headpost  rd__headpost--title rview__head">{{$ctrl.resource.title}}</h1>
					<div flex class="rview__thumnail thumbnail thumbnail--rounded" ng-hide="$ctrl.resource.thumbnail === ''">
						<img ng-src="{{$ctrl.resource.thumbnail}}" alt="Miniatura">
					</div>
					<p flex class="paragraph post__test rview__summary">{{$ctrl.resource.summary}}</p>
					<rd-post flex class="rview__post" modules="$ctrl.resource.postBody" relative="$ctrl.uid" readonly="true"></rd-post>
				</div>
			</div>
		</div>
	</md-dialog-content>
</md-dialog>