a.titkits:hover{
	color: #000;
}

.titkits{
	text-align: left; 
	font-weight: bold; 
	font-size: 18px;  
	font-family: DINNextRoundedLTPro-Regular;
	margin-left: 75px; 
	color: #9ACA3C; 
	margin-top: 3%;
}

.content{
	
		background-color: white; 
		width: 80%; 
		margin-right: auto; 
		margin-left: auto;
	

}