


<section class="main">
    <div class="wrapper-demo">
        <div id="dd" class="wrapper-dropdown-3" tabindex="1" ng-click="$ctrl.onClick($event)">
            <span>Seleccione</span>
            <ul class="dropdown">
                <li><a href="#"><i class="icon-envelope icon-large"></i>Orinetaciones</a></li>
                <li><a href="#"><i class="icon-truck icon-large"></i>propuestas</a></li>
                <li><a href="#"><i class="icon-plane icon-large"></i>Talleres</a></li>
            </ul>
        </div>
    ​</div>
</section>