


<section class="main">
    <div class="wrapper-demo" style=" position:relative; z-index:1000;">
        <div id="dd" class="wrapper-dropdown-3" tabindex="1" ng-click="$ctrl.onClick($event)" >
            <span>Seleccione</span>
       
            <ul class="dropdown" ng-click="$event.stopPropagation();">
                <!--<li><a href="#"><i class="icon-envelope icon-large"></i>Orinetaciones</a></li>
                <li><a href="#"><i class="icon-truck icon-large"></i>propuestas</a></li>
                <li><a href="#"><i class="icon-plane icon-large"></i>Talleres</a></li>
                <li><a href="#"><i class="icon-plane icon-large"></i>Talleres</a></li>-->
                <li><md-checkbox class="green"  ng-model="$ctrl.propuestasTalleres"> PROPUESTAS DE TALLERES</md-checkbox></li>
                <li><md-checkbox class="green"  ng-model="$ctrl.talleresIntensivos"> TALLERES INTENSIVOS</md-checkbox></li>
                <li><md-checkbox class="green"  ng-model="$ctrl.actividadesComplementarias" > ACTIVIDADES COMPLEMENTARIAS</md-checkbox></li>
                <hr class="linea"/>
                <li><md-checkbox class="green" ng-model="$ctrl.tutoriales"> TUTORIALES</md-checkbox></li>
                <li><md-checkbox class="green" ng-model="$ctrl.programas"> PROGRAMAS</md-checkbox></li>
                <li><md-checkbox class="green" ng-model="$ctrl.herramientas"> HERRAMIENTAS SOFTWARE</md-checkbox></li>
            </ul>
        </div>
        <div>
            <label>
                <input style="margin: 0 auto;
                    padding: 10px;
                    background: #fff;
                    border-radius: 7px; 
                    border: 1px solid rgba(0, 0, 0, 0.15);" ng-model="$ctrl.textSearch">
                   <img ng-src="assets/lupa.png" class="pointer"  ng-click="$ctrl.buscar($event)"></label>
            </div>
    
       
    ​</div>
</section>




<div class="cont" ng-if="$ctrl.filter.includes('propuestasTalleres')">




 <div class="rowparallaxk">
		<div class="textKit">
			<p class="impact-text-large titulos" style="text-align: center; font-family: pacifico-regular, sans-serif; color: #8BBF1F">Propuestas de taller</p>
		</div>
		<div >
			<div>
                    <rd-waterfall item-width="350" gutter="24" load-more-text="Ver más" fetch="$ctrl.fetchDataPropuestaTaller()" item-click="$ctrl.viewOrientacionPedagogica_" search-text="$ctrl.searchText" obligareset="$ctrl.resetWaterfall">
			
                            <rd-item-template>           
                                    <orientacionpedagogica-card resource="item" editable="item.type !== 'addnew'" vista="'social'"></orientacionpedagogica-card>
                </rd-item-template>
                </rd-waterfall>
			</div>
		
		</div>
	</div>
</div>



<div class="cont" ng-if="$ctrl.filter.includes('actividadesComplementarias')">
	<div class="rowparallaxk">
		<div class="textKit">
			<p class="impact-text-large titulos" style="text-align: center; font-family: pacifico-regular, sans-serif; color: #8BBF1F">Actividades complementarias</p>
		</div>
		<div >
			<div>
                    <rd-waterfall item-width="350" gutter="24" load-more-text="Ver más" fetch="$ctrl.fetchActividadComplementarias()" item-click="$ctrl.viewOrientacionPedagogica_" search-text="$ctrl.searchText" obligareset="$ctrl.resetWaterfall">
			
                            <rd-item-template>           
                                    <orientacionpedagogica-card resource="item" editable="item.type !== 'addnew'" vista="'social'"></orientacionpedagogica-card>
                </rd-item-template>
                </rd-waterfall>
			</div>
		
		</div>
	</div>
</div>



<div class="cont" ng-if="$ctrl.filter.includes('talleresIntensivos')">
	<div class="rowparallaxk">
		<div class="textKit">
			<p class="impact-text-large titulos" style="text-align: center; font-family: pacifico-regular, sans-serif; color: #8BBF1F">Talleres Intensivos</p>
		</div>
		<div >
			<div>
                    <rd-waterfall item-width="350" gutter="24" load-more-text="Ver más" fetch="$ctrl.fetchTalleresIntensivos()" item-click="$ctrl.viewOrientacionPedagogica_" search-text="$ctrl.searchText" obligareset="$ctrl.resetWaterfall">
			
                            <rd-item-template>           
                                    <orientacionpedagogica-card resource="item" editable="item.type !== 'addnew'" vista="'social'"></orientacionpedagogica-card>
                </rd-item-template>
                </rd-waterfall>
			</div>
		
		</div>
	</div>
</div>