
.dashboard {

	&__loading {
		padding-top: 3rem;
	}

	&__toolbar {
		height: $navbar-height-scrolled;
		background-color: $color-black-light;
		box-shadow: $whiteframe-shadow-2dp;
		z-index: $navbar-z-index - 1;
		position: sticky;
		top: $navbar-height-scrolled;
	}

	&__wrapper {
		min-height: calc(100vh - #{$navbar-height-scrolled * 2});
	}

	&__container {
		height: 100%;
		margin: 0 auto;
		width: calc(100% - #{$gutter});
	}

	&__sidenav {
		width: 35rem;
		background-color: rgba($color-white, .3);
		padding: 2rem 2rem;

		&--top {
			margin-bottom: 2rem;
		}

		&--head {
			font-family: $font-family-secondary;
			text-transform: uppercase;
			font-weight: $font-secondary-regular;
			font-size: 1.8rem;
		}

		&--subhead {
			font-family: $font-family-secondary;
			text-transform: uppercase;
			font-weight: $font-secondary-light;
			font-size: 1.6rem;
		}

		&--head-resource {
			padding-left: 15px;
		}

		md-content:not(:last-child) {
			margin-bottom: 1.5rem;
		}
	}

	&__content {
		padding: $gutter/2;
		
		&--head {
			padding: $gutter/2;
			padding-top: 0;
		}

		& .dz__custom {
			margin-bottom: 1rem;
		}
	}

	&__stepper {
		height: 100%;
		margin: 0 auto;
		width: calc(100% - #{$gutter});

		& > div {
			height: 100%;
		}
	}

	&__input {
		width: 100%;

		&--title {
			label {
				font-family: $font-family-secondary;
				font-weight: $font-secondary-medium;
				font-size: 3.5rem;
			}

			input {
				font-family: $font-family-secondary;
				font-weight: $font-secondary-medium;
				font-size: 3.5rem;
			}
		}

		&--summary {
			label {
				font-family: $font-family-secondary;
				font-weight: $font-secondary-light;
				font-size: 3rem;
			}

			input {
				font-family: $font-family-secondary;
				font-weight: $font-secondary-light;
				font-size: 3rem;
			}
		}
	}

	&__preview--header {
		h2 {
			text-align: center;
			text-transform: uppercase;
			color: $color-white;
			font-weight: $font-secondary-light;
			padding: 1rem;
		}
	}

	&__preview {
		padding: 2.5rem;
	}

	&__box {
		border-radius: $border-radius-default;
		border: solid 1px $color-grey-light;
		padding: 1rem;
	}

	&__box:not(:last-child) {
		margin-bottom: .5rem;
	}

	&__row .flex:not(:last-child) {
		margin-right: .5rem;
	}

	&__row .flex:not(:first-child) {
		margin-left: .5rem;
	}

	&__search {
		padding: 2rem 0px;

		input {
			width: 100%;
			border-radius: $border-radius-default;
			padding: .35rem 0px;
		}
	}

	&__remove {
		padding: 15rem 0rem;
		text-align: center;

		&--button {

		}
	}
}

.option-panel {
	.md-title {
		text-transform: uppercase;
	}
}

.table__files {
	

	.md-cell {
		padding: 1.2rem 2.4rem !important;
	}

	&--summary-cell {
		
	}

	&--summary {
		font-size: 14px;
		font-weight: $font-primary-medium;
		color: $color-black-light !important;
	}
}