.dropzone {
	border-radius: $border-radius-default;
	border: dashed 1px $color-grey;
}

.dz {
	&__custom {
		position: relative;
		padding: 0px;
		.dz-default {
			margin: 0px;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
	
			span {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
	
			.dz-clickable {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}

	&__thumbnail &-default &-clickable  {
			background: url('assets/img/dropzone-miniature.png') center center no-repeat;
	}
	
	&__custom[data-type="herramienta"] &-default &-clickable {
		background: url('assets/img/dropzone-software.png') center center no-repeat;
	}

	&__custom[data-type="propuesta"] &-default &-clickable {
		background: url('assets/img/dropzone-propuesta.png') center center no-repeat;
	}

	&__custom[data-type="actividad"] &-default &-clickable {
		background: url('assets/img/dropzone-actividad.png') center center no-repeat;
	}

	&__custom[data-type="orientacion"] &-default &-clickable {
		background: url('assets/img/dropzone-orientacion.png') center center no-repeat;
	}

	&__custom[data-type="mediateca"] &-default &-clickable {
		background: url('assets/img/dropzone-mediateca	.png') center center no-repeat;
	}
}