@each $key, $section in $sections {
	.color-#{$key} {
		color: map-get($section, color) !important;
	}

	.bg-#{$key} {
		background-color: map-get($section, color) !important;
	}
}

.color-primary {
	color: $color-primary;
}

.color-white {
	color: $color-white;
}

.bg-primary {
	background-color: $color-primary;
}

.color-grey {
	color: $color-grey;
}

.color-black-light {
	color: $color-black-light;
}

.has-error {
	& > .help-block {
		text-align: center;
		padding: .2rem .3rem;
		background: rgba($color-error, .1);
		border: solid 1px $color-error;
		color: $color-error;
	}
}

.text-center {
	text-align: center;
}

.text-uppercase {
	text-transform: uppercase;
}

.full-width {
	width: 100%;
}

.font-light {
	font-weight: $font-primary-light;
}

.font-medium {
	font-weight: $font-primary-medium;
}

md-dialog.fullscreen-dialog {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 0;
}