.rd-navbar {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: $screen-min-width;
	z-index: $navbar-z-index;
	background-color: $color-white;

	&__content {
		display: flex;
		align-items: center;
		height: $navbar-height;
		margin: 0 auto;
		width: calc((100% - #{$container-gutter-fluid}));
		z-index: $navbar-z-index + 2;
		transition: $transition-default;
	}

	&__menu-button {
		margin: 0 6px;
    height: 50px;
    min-width: 0;
    padding: 13px;
    width: 50px;
		border-radius: 50%;
		opacity: 1;
		backface-visibility: hidden;
		transition: $transition-default;
				
		&--bars {
			display: block;
			position: relative;
			width: 100%;
			height: 3px;
			background-color: $color-grey;
			border-radius: 100px;

			&::before {
				content: '';
				top: 8px;
				left: 0;
				position: absolute;
				width: 100%;
				height: 3px;
				background-color: $color-grey;
				border-radius: inherit;
			}

			&::after {
				content: '';
				top: -8px;
				left: 0;
				position: absolute;
				width: 100%;
				height: 3px;
				background-color: $color-grey;
				border-radius: inherit;
			}
		}

		&:hover {
			background-color: transparent !important; //fix the md-button selector
		}

		&:active {
			box-shadow: $whiteframe-shadow-1dp;
		}

		&:hover &--bars,
		&:focus &--bars {
			background-color: $color-black-light;
		}

		&:hover &--bars::before,
		&:focus &--bars::before {
			background-color: $color-black-light;
			top: 9px;
		}

		&:hover &--bars::after,
		&:focus &--bars::after {
			background-color: $color-black-light;
			top: -9px;
		}
	}

	&__brand {
		display: block;
		position: relative;
		text-decoration: none;
	}

	// hide the menu when is not scrolled
	&:not(&--scrolled) &__menu-button {
		opacity: 0;
		visibility: hidden;
	}
	
	// when is scrolled resize the content
	&#{&}--scrolled &__content {
		height: $navbar-height-scrolled;
	}

	&__compact &__content {
		height: $navbar-height-scrolled;
	}

	&__nav--navigation {
		flex: 1 0 auto;
		opacity: 1;
		@include opacity-transition-delay($delay: 150ms);
	}

	&__dropdown {
		position: fixed;
		z-index: -1;
		left: ($gutter-fluid - .5);
		padding: $gutter-fluid 0px;
		width: 23rem;
		overflow: hidden;
		opacity: 0;
		transition: $transition-default;

		&--tools {
			opacity: 0;
			z-index: $navbar-z-index + 3;
			border-top: 1px solid $color-grey-light;
			margin-top: 1rem;
			transition: all .5s cubic-bezier(1,.39,.93,.73);
		}

		&--items {
			opacity: 0;
			transition: all .5s cubic-bezier(1,.39,.93,.73);
		}

		&--background {
			position: absolute;
			width: 4rem;
			height: 4rem;
			border-radius: 50%;
			left: 18px;
			top: -60px;
			background-color: $color-white;
			z-index: -1;
			//transition: $transition-default;
			transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
		}

		&:not(.ng-hide) {
			opacity: 1;
		}

		&:not(.ng-hide) &--background {
			transform: scale(80);
		}

		&:not(.ng-hide) &--items,
		&:not(.ng-hide) &--tools {
			opacity: 1;
		}
	}

	// styling the rd-navbar-navigation
	&__nav--navigation > rd-navbar-navigation  {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&#{&}--scrolled &__nav--navigation {
		opacity: 0;
		display: none;
	}

	// styling the rd-navbar-tools
	&__tools > rd-navbar-tools  {
		display: flex;
		align-items: center;
		justify-content: center;
	}

}

// responsive
@include respond(tab-port){
	.rd-navbar__nav--navigation {
		display: none;
		margin: 0 auto;
	}
}


/**********************************************************************************************************************/
/* Page */

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.nav {
	width: 550px;
	margin: 0 auto;
	text-align: center;
}

/* Navigation */

.nav {
	font-family: Georgia, Arial, sans-serif;
	font-size: 14px;
}

.nav .icon {
	display: none;
}

.nav-items {
	padding: 0;
	list-style: none;
}

.nav-item {
	display: inline-block;
	margin-right: 25px;
}

.nav-item:last-child {
	margin-right: 0;
}

.nav-link,
.nav-link:link,
.nav-link:visited,
.nav-link:active,
.submenu-link,
.submenu-link:link,
.submenu-link:visited,
.submenu-link:active {
	display: block;
	position: relative;
	font-size: 14px;
	letter-spacing: 1px;
	cursor: pointer;
	text-decoration: none;
	outline: none;
}

.nav-link,
.nav-link:link,
.nav-link:visited,
.nav-link:active {
	color: #5c5c5c;
	font-weight: bold;
}

.nav-link::before {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 3px;
	background: rgba(0,0,0,0.2);
	opacity: 0;
	-webkit-transform: translate(0, 10px);
	transform: translate(0, 10px);
	transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-link:hover::before,
.nav-link:hover::before {
	opacity: 1;
	-webkit-transform: translate(0, 5px);
	transform: translate(0, 5px);
}

.dropdown {
	position: relative;
}

.dropdown .nav-link {
	padding-right: 15px;
	height: 17px;
	line-height: 17px;
	margin: 0 auto;
}

.dropdown .nav-link::after {
	content: "";
	position:absolute;
	top: 6px;
	right: 0;
	}

.submenu {
	position: absolute;
	top: 100%;
	left: 50%;
	z-index: 100;
	width: 200px;
	margin-left: -100px;
	background: #fff;
	border-radius: 3px;
	line-height: 1.46667;
	margin-top: -5px;
	box-shadow: 0 0 8px rgba(0,0,0,.3);
	opacity:0;
	-webkit-transform: translate(0, 0) scale(.85);
	transform: translate(0, 0)scale(.85);
	transition: transform 0.1s ease-out, opacity 0.1s ease-out;
	pointer-events: none;
}

.submenu::after,
.submenu::before {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -10px;
	border: 10px solid transparent;
	height: 0;
}

.submenu::after {
	border-bottom-color: #fff;
}

.submenu::before {
	margin-left: -13px;
	border: 13px solid transparent;
	border-bottom-color: rgba(0,0,0,.1);
	-webkit-filter:blur(1px);
	filter:blur(1px);
}

.submenu-items {
	list-style: none;
	padding: 10px 0;
}

.submenu-item {
	display: block;
	text-align: left;
}

.submenu-link,
.submenu-link:link,
.submenu-link:visited,
.submenu-link:active {
	color: #3498db;
	padding: 10px 20px;
}

.submenu-link:hover {
	text-decoration: underline;
}

.submenu-seperator {
	height: 0;
	margin: 12px 10px;
	border-top: 1px solid #eee;
}

.show-submenu .submenu {
	opacity: 1;
	-webkit-transform: translate(0, 25px) scale(1);
	transform: translate(0, 25px) scale(1);
	pointer-events: auto;
}

/************************* VERTICAL ******************************************/

/* define a fixed width for the entire menu */
.navigation {
	width: 300px;
}

/* reset our lists to remove bullet points and padding */
.mainmenu, .submenu-i {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* make ALL links (main and submenu-i) have padding and background color */
.mainmenu a {
	display: block;
	background-color: #9a9a9a; // #CCC
	text-decoration: none;
	padding: 10px;
	color: #000;
}

/* add hover behaviour */
.mainmenu a:hover {
	background-color: #666; // #666
}

/* when hovering over a .mainmenu item,
  display the submenu-i inside it.
  we're changing the submenu-i's max-height from 0 to 200px;
*/

.mainmenu li .submenu-i {
	max-height: 200px;
}

/*
  we now overwrite the background-color for .submenu-i links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/

.submenu-i a {
	background-color: #CCC; // #5c5c5c
	padding-left: 30px;
}

/* hover behaviour for links inside .submenu-i */
.submenu-i a:hover {
	background-color: #b1b1b1; //#C5C5C5;
}

/* this is the initial state of all submenu-i.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu-i {
	max-height: 0;
}