<div class="rd-navbar__content"
		 layout="row"
		 ng-class="{ 'rd-navbar--mobile': $rdNavbarController.isMobile }">
	
	<!-- MENU BUTTON -->
	<md-button class="rd-navbar__menu-button" aria-label="Menu" ng-click="$rdNavbarController.toggleDropdown($event)">
		<span class="rd-navbar__menu-button--bars"></span>
	</md-button>

	<!-- BRAND-->
	<a href="#" class="rd-navbar__brand" aria-label="Ir al home" ng-transclude="brand">
	</a>

	<!-- HORIZONTAL NAVIGATION -->
	<nav class="nav rd-navbar__nav--navigation" ng-transclude="items" role="navigation">
	</nav>

	<!-- TOOLS -->
	<div class="rd-navbar__tools" ng-transclude="tools"></div>

	<!-- PROFILE -->
	<div class="rd-navbar__profile" ng-transclude="profile"></div>
</div>

<!-- VERTICAL NAVIGATION -->
<div flex class="rd-navbar__dropdown" md-whiteframe="15" ng-show="false">
	<div class="rd-navbar__dropdown--background"></div>
	<div class="rd-navbar__dropdown--items" ng-transclude="items">
	</div>
	<div class="rd-navbar__dropdown--tools" ng-transclude="tools"></div>
</div>

<!-- CUSTOM VERTICAL NAVIGATION -->
<div flex class="rd-navbar__dropdown" md-whiteframe="15" ng-show="$rdNavbarController.dropdownOpened">
	<div class="rd-navbar__dropdown--background"></div>
	<div class="rd-navbar__dropdown--items">
		<nav class="navigation">
			<ul class="mainmenu">
				<li ng-repeat="item in $rdNavbarController.navBarItems track by $index" ng-init="$rdNavbarController.showSubmenu[$index] = false">
					<a href 
						ng-click="$rdNavbarController.showSubmenu[$index] = !$rdNavbarController.showSubmenu[$index]; $rdNavbarController.itemClicked(item)">
						{{ item.caption }}
						<i class="fa fal fa-angle-down" ng-if="item.nodes && $rdNavbarController.showSubmenu[$index] == true"></i>
						<i class="fa fal fa-angle-right" ng-if="item.nodes && $rdNavbarController.showSubmenu[$index] == false"></i>
					</a>
					<ul class="submenu-i" ng-show="$rdNavbarController.showSubmenu[$index]">
						<li ng-repeat="subItem in item.nodes">
							<a href ng-click="$rdNavbarController.itemClicked(subItem)">{{ subItem.caption }}</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
	<div class="rd-navbar__dropdown--tools" ng-transclude="tools"></div>
</div>
