<div class="rd-navbar__content"
		 layout="row"
		 ng-class="{ 'rd-navbar--mobile': $rdNavbarController.isMobile }">
	
	<!-- MENU BUTTON -->
	<a class="rd-navbar__menu-button" aria-label="Menu" ng-click="$rdNavbarController.toggleDropdown($event)">
		<span class="rd-navbar__menu-button--bars"></span>
	</a>

	<!-- BRAND-->
	<a href="#" class="rd-navbar__brand" aria-label="Ir al home" ng-transclude="brand">
	</a>

	<!-- HORIZONTAL NAVIGATION -->
	<nav class="nav rd-navbar__nav--navigation col-sm-3" ng-if="!$rdNavbarController.isMobile" ng-transclude="items" role="navigation">
	</nav>

	<!-- TOOLS -->
	<div class="rd-navbar__tools">
		<!-- <rd-navbar-item
			navbar-item-icon="mi mi-person"
			navbar-item-caption="Profile"
			ng-hide="$rdNavbarController.user.google !== undefined"
			ng-click="$rdNavbarController.toggleProfile($event)">
		</rd-navbar-item> -->
		<div class="rd-navbar__item profile__avatar"
			ng-if="$rdNavbarController.user.google"
			ng-click="$rdNavbarController.toggleProfile($event)">
			<img ng-src="{{$rdNavbarController.user.google.image.url}}" alt="Avatar">
		</div>
		<div class="profile__dropdown" ng-show="$rdNavbarController.showingDropdown">
			<div class="profile__dropdown--caret">
				<i class="fa fa-caret-up fa-2x"></i>
			</div>
			<div class="profile__dropdown--username">{{$rdNavbarController.user.name}}</div>
			<md-divider></md-divider>
			<div layout="row">
				<md-button class="md-raised md-mini profile__dropdown--logout">
					<div layout="row" layout-align="center center" ng-click="$rdNavbarController.logout()">
						<i class="fa fa-sign-out"></i> <span>Salir</span>
					</div>
				</md-button>
			</div>
			
		</div>
	</div>

	<!-- PROFILE -->
	<div class="rd-navbar__profile" ng-transclude="profile"></div>
</div>

<!-- VERTICAL NAVIGATION -->
<div flex class="rd-navbar__dropdown"  ng-show="false">
	<div class="rd-navbar__dropdown--background"></div>
	<div class="rd-navbar__dropdown--items" ng-transclude="items">
	</div>
	<div class="rd-navbar__dropdown--tools" ng-transclude="tools"></div>
</div>

<!-- CUSTOM VERTICAL NAVIGATION -->
<div flex class="rd-navbar__dropdown"  ng-show="$rdNavbarController.dropdownOpened">
	<div class="rd-navbar__dropdown--background"></div>
	<div class="rd-navbar__dropdown--items">
		<nav class="navigation">
			<ul class="mainmenu">
				<li ng-repeat="item in $rdNavbarController.navBarItems track by $index" ng-init="$rdNavbarController.showSubmenu[$index] = false">
					<a href 
						ng-click="$rdNavbarController.showSubmenu[$index] = !$rdNavbarController.showSubmenu[$index]; $rdNavbarController.itemClicked(item)">
						{{ item.caption | uppercase}}
						<i class="fa fal fa-angle-down" ng-if="item.nodes && $rdNavbarController.showSubmenu[$index] == true"></i>
						<i class="fa fal fa-angle-right" ng-if="item.nodes && $rdNavbarController.showSubmenu[$index] == false"></i>
					</a>
					<ul class="submenu-i" ng-show="$rdNavbarController.showSubmenu[$index]">
						<li ng-repeat="subItem in item.nodes">
							<a href  ng-click="$rdNavbarController.itemClicked(subItem)" >{{ subItem.caption | uppercase }}</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
	<div class="rd-navbar__dropdown--tools" ng-transclude="tools"></div>
</div>
