<div class="banner__dashboard--home" layout="row" layout-align="center center">
	<div class="banner__avatar">
		<div class="banner__avatar--wrapper" ng-show="$ctrl.user.google.image !== undefined">
			<img ng-src="{{$ctrl.user.google.image.url}}" alt="Avatar">
		</div>
	</div>
	<div class="banner__content">
		<div><h1 class="banner__head">Hola {{$ctrl.username}}!</h1></div>
		<div class="banner__subhead">estas en tu Tablero Robotica</div>
		<div class="banner__legend">
			<p>acá podés <span class="font-medium">crear, editar </span> Orientaciones Pedagógicas</p>
		</div>
		<br>
		<div class="banner__legend" 
			layout="row"
			ng-if="$ctrl.type == 'desafios'">
			<md-button class="md-raised rd-stepper__button--next  button__text-icon"  
				aria-label="Guardar" 
				ng-click="$ctrl.applyFilter('')" >
				<span>Todos</span>
			</md-button>
			<md-button class="md-raised rd-stepper__button--save"  
				aria-label="Guardar" 
				ng-click="$ctrl.applyFilter('pendiente')" >
				<span>Pendientes</span>
			</md-button>
			<md-button class="rd-stepper__button--back" aria-label="Volver" 
				ng-click="$ctrl.applyFilter('aprobado')">
				<span>Aprobados</span>
			</md-button>
			<md-button class="md-raised md-primary rd-stepper__button--next button__text-icon" 
				ng-click="$ctrl.applyFilter('rechazado')">
				<span>Rechazados</span>
			</md-button>
		</div>
	</div>
</div>

<section class="resources-_waterfall">
	<rd-waterfall item-width="350"
				  gutter="24"
				  load-more-text="Ver más Orientaciones Pedagógicas"
				  fetch="$ctrl.fetchData()"
				 				  search-text="$ctrl.searchText">
		<rd-item-template>
			<orientacionpedagogica-card resource="item" editable="item.type !== 'addnew'" vista="'curador'"></resource-card>
		</rd-item-template>
	</rd-waterfall>
</section>