.banner__dashboard--home {
	background-color: $color-dashboard;
	height: 43rem;
}

.banner__content {
	//transform: translateY(-50%);
}

.banner__avatar {
	margin-right: 2rem;
	transform: translateY(-50%);
	
	&--wrapper {
		width: 50px;
		height: 50px;
		@include robotica-shape;
	}
}