@font-face {
	font-family: pacifico-regular;
	src: local('pacifico-regular'),
	local('pacifico regular'),
	local('Pacifico-Regular'),
	local('Pacifico Regular'),
	url("../assets/fonts/Pacifico-Regular.ttf")
	format("truetype");
}


@font-face {
	font-family: DIN-Regular;
	src: local('DIN-Regular'),
	local('din regular'),
	local('DIN-Regular'),
	local('DIN Regular'),
	url("../assets/fonts/DIN-Regular.ttf")
	format("truetype");
}

@font-face {
	font-family: DINNextRoundedLTPro-Bold;
	src: 
	local('DINNextRoundedLTPro-Bold'),
	url("../assets/fonts/DIN/DINNextRoundedLTPro-Bold.otf")
	format("OpenType");
}

@font-face {
	font-family: DINNextRoundedLTPro-Light;
	src: 
	local('DINNextRoundedLTPro-Light'),
	url("../assets/fonts/DIN/DINNextRoundedLTPro-Light.otf")
	format("OpenType");
}
@font-face {
	font-family: DINNextRoundedLTPro-Medium;
	src: 
	local('DINNextRoundedLTPro-Medium'),
	url("../assets/fonts/DIN/DINNextRoundedLTPro-Medium.otf")
	format("OpenType");
}

@font-face {
	font-family: DINNextRoundedLTPro-Regular;
	src: 
	local('DINNextRoundedLTPro-Regular'),
	url("../assets/fonts/DIN/DINNextRoundedLTPro-Regular.otf")
	format("OpenType");
}

.social__component {
	display: block;
	//margin-top: 78px
}

social-header {
	display: block;
}

social-footer {
	display: block;
}