@font-face {
	font-family: pacifico-regular;
	src: local('pacifico-regular'),
	local('pacifico regular'),
	local('Pacifico-Regular'),
	local('Pacifico Regular'),
	url("../assets/fonts/Pacifico-Regular.ttf")
	format("truetype");
}


@font-face {
	font-family: DIN-Regular;
	src: local('DIN-Regular'),
	local('din regular'),
	local('DIN-Regular'),
	local('DIN Regular'),
	url("../assets/fonts/DIN-Regular.ttf")
	format("truetype");
}


.social__component {
	display: block;
	margin-top: 78px
}

social-header {
	display: block;
}

social-footer {
	display: block;
}