.banner {
  &__head {
    color: white;
    font-size: 5.2rem;
    font-weight: $font-secondary-extra-light;
  }
  
  &__subhead {
    color: white;
    font-size: 3.8rem;
  }

  &__legend {
    color: white;
    font-size: 2.4rem;
  }
  
  &__wrapper {
    width: 86rem;
    margin: 0 auto;
  }

  &__home {
    //background-color: $color-primary;
    height: 43rem;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 448px;
      height: 400px;
    }

    &--legend {
      h1 {
        font-family: $font-family-secondary;

        small, strong {
          color: inherit;
          font-family: $font-family-secondary;
        }

        strong {
          font-weight: $font-secondary-extra-bold;
        }
      }

      p {
        font-size: 126%;
      }
    }

    // Banner home
    &[section="home"] {
      background-image: url(/assets/img/banner/index_back.png);
      background-color: $color-primary-dark;
    }

    &[section="home"] &--legend {
      padding-top: 10rem;
      text-align: right;
      h1 { color: $color-white; }
      p { color: $color-white; }
    }

    &[section="home"] &--image {
      float: left;
    }

    // Banner institucional
    &[section="institucional"] {
      background-image: url(/assets/img/banner/institucional_back.png);
      background-color: $color-primary-dark;
    }

    // Banner propuestas
    &[section="propuestas"] {
      background-color: $color-propuestas;
      background-image: url(/assets/img/banner/propuesta_back.png);
    }

    &[section="propuestas"] &--legend {
      padding-top: 10rem;
      padding-right: 4rem;
      text-align: right;
      h1, p {
        color: $color-white;
      }
      
      p {  }
    }

    &[section="propuestas"] &--image {
      float: left;
    }

    // Banner actividades
    &[section="actividades"] {
      background-image: url(/assets/img/banner/actividades_back.png);
    }

    &[section="actividades"] &--legend {
      padding-top: 10rem;
      padding-right: 4rem;
      text-align: left;
      h1 { color: $color-actividades; }
      p { color: $color-black-light;}
    }

    &[section="actividades"] &--image {
      float: right;
    }

    // Banner herramientas
    &[section="herramientas"] {
      background-image: url(/assets/img/banner/herramientas_back.png);
    }

    &[section="herramientas"] &--legend {
      padding-top: 15rem;
      padding-right: 4rem;
      text-align: right;
      h1 { color: $color-herramientas; }
      p { color: $color-black-light;}
    }

    &[section="herramientas"] &--image {
      float: left;
    }

    // Banner orientaciones
    &[section="orientaciones"] {
      background-image: url(/assets/img/banner/orientaciones_back.png);
    }

    &[section="orientaciones"] &--legend {
      padding-top: 10rem;
      padding-right: 4rem;
      text-align: left;

      h1 { color: $color-orientaciones; }
      p { color: $color-black-light;}
    }

    &[section="orientaciones"] &--image {
      float: right;
    }

    // Banner mediateca
    &[section="mediateca"] {
      background-image: url(/assets/img/banner/mediateca_back.png);
    }

    &[section="mediateca"] &--legend {
      padding-top: 10rem;
      padding-right: 7rem;
      text-align: right;
      h1 { color: $color-mediateca; }
      p { color: $color-black-light;}
    }

    &[section="mediateca"] &--image {
      float: left;
    }
  }
}

// responsive
.banner {

  @include respond(big-desktop){
  }

  @include respond(tab-land){
    &__wrapper {
      width: 70rem;
    }

    &__home {
      // fix on 900 - 1200px
      height: 30rem;
      background-size: 89rem;
      
      &--image {
        display: none;
      }

      &[section="home"] &--legend,
      &[section="propuestas"] &--legend,
      &[section="actividades"] &--legend,
      &[section="herramientas"] &--legend,
      &[section="orientaciones"] &--legend,
      &[section="mediateca"] &--legend  {
        width: 40rem;
        margin: 0 auto;
        padding-top: 5rem;
      }
    }
  }
  
  @include respond(tab-port){
    &__wrapper {
      width: 50rem;
    }

    &__home {
      // fix on 600 - 900px
      height: 20rem;
      background-size: 59rem;
      
      &--image {
        display: none;
      }
      
      // SECTIONS

      // home
      &[section="home"] &--legend {
        width: 40rem;
        margin: 0 auto;
        padding-top: .5rem;
      }

      &[section="institucional"] p {
        font-size: 1.7rem;
		    line-height: 1.7rem;
      }

      // propuestas
      &[section="propuestas"] &--legend {
        width: 40rem;
        margin: 0 auto;
        padding-top: .1rem;
      }


      &[section="propuestas"] &--legend p {
        display: none;
      }

      &[section="propuestas"] &--legend h1,
      &[section="propuestas"] &--legend h1 span {
        font-size: 2.3em !important;
      }

      // actividades
      &[section="actividades"] &--legend {
        width: 40rem;
        margin: 0 auto;
        padding-top: .5rem;
      }

      // herramientas
      &[section="herramientas"] &--legend {
        width: 40rem;
        margin: 0 auto;
        padding-top: .5rem;
      }

      // orientaciones
      &[section="orientaciones"] &--legend {
        width: 40rem;
        margin: 0 auto;
        padding-left: 5rem;
        padding-top: 7rem;
      }

      &[section="orientaciones"] &--legend p {
        display: none;
      }

      &[section="orientaciones"] &--legend h1,
      &[section="orientaciones"] &--legend h1 span {
        font-size: 2.3em !important;
      }

    }
  }

  @include respond(phone){

    &__wrapper {
      width: 34rem;
      padding: 0;
    }

    &__home {
      // fix on 0 - 600px
      height: 13rem;
      background-size: 40rem;
      
      &--image {
        display: none;
      }

      // SECTIONS

      // home
      &[section="home"] &--legend {
        width: 85%;
        margin: 0 auto;
        padding-top: .5rem;
      }

      &[section="institucional"] p {
        font-size: 1.4rem;
		    line-height: 1.4rem;
        width: 80%;
        margin: 0 auto;
      }
      
      &[section="institucional"] .institucional--logo {
        margin-top: -30px;
      }
      
      &[section="home"] &--legend p {
        display: none;
      }

      &[section="home"] &--legend h1,
      &[section="home"] &--legend h1 span {
        font-size: 1.6em !important;
      }
      
      // propuestas
      &[section="propuestas"] &--legend {
        width: 85%;
        margin: 0 auto;
        padding-top: .5rem;
      }

      &[section="propuestas"] &--legend p {
        display: none;
      }

      &[section="propuestas"] &--legend h1,
      &[section="propuestas"] &--legend h1 span {
        font-size: 1.6em !important;
      }
      
      // actividades
      &[section="actividades"] &--legend {
        width: 60%;
        margin: 0 auto;
        padding-top: 2rem;
      }

      &[section="actividades"] &--legend p {
        display: none;
      }

      &[section="actividades"] &--legend h1,
      &[section="actividades"] &--legend h1 span {
        font-size: 1.6em !important;
      }
      
      // herramientas
      &[section="herramientas"] &--legend {
        width: 60%;
        margin: 0 auto;
        padding-top: 2rem;
      }

      &[section="herramientas"] &--legend p {
        display: none;
      }

      &[section="herramientas"] &--legend h1,
      &[section="herramientas"] &--legend h1 span {
        font-size: 1.6em !important;
      }

      // orientaciones
      &[section="orientaciones"] &--legend {
        width: 40rem;
        margin: 0 auto;
        padding-left: 5rem;
        padding-top: 3rem;
      }

      &[section="orientaciones"] &--legend p {
        display: none;
      }

      &[section="orientaciones"] &--legend h1,
      &[section="orientaciones"] &--legend h1 span {
        font-size: 2.3em !important;
      }
      
      // mediateca
      &[section="mediateca"] &--legend {
        width: 60%;
        margin: 0 auto;
        padding-top: 2rem;
      }

      &[section="mediateca"] &--legend p {
        display: none;
      }
    }
  }
  
}
