
// <rd-card></rd-card>
.rd-card {
	
	&__cover {
		height: 0px;
	}

	&__footer {
		position: relative;
		text-align: center;
		text-transform: uppercase;
		padding-top: .803rem;
		padding-bottom: 1.3rem;
	}

	&__wrapper {
		cursor: pointer;
	}
	
	&__icon {
		
	}

	&__paragraph {
		margin-bottom: 2rem;
	}

	&__icon--circle {
	}

	&__header {
		position: relative;
	}
	
	&__header--wrapper {
		
	}

	&__header--type {
		font-size: 14px;
		font-weight: $font-primary-medium;
		padding-right: 1rem;
		border-right: solid 1px $color-grey-light;
	}

	&__header--level {
		font-size: 14px;
		font-weight: $font-primary-medium;
		padding-left: 1rem;
		color: $color-black-light;
	}

	&__title--v1 {
		margin-bottom: 1rem;
	}

	&__body {
		position: relative;
		display: block;
		//padding-left: 6.8rem;
		padding: 1rem;
	}

	&__button--edit {
		color: $color-black-light !important;
		border-color: $color-grey !important;

		md-icon {
			color: $color-black-light !important;
		}
	}

	&__button--delete {
		color: $color-black-light !important;
		border-color: $color-grey !important;
		min-width: 4rem;
		md-icon {
			color: $color-black-light !important;
		}
	}

	&__toolbar {
		border-bottom: solid 1px $color-grey-light;
	}

	&__body--custom {
		padding-left: 1rem;
	}

	&__updated, 
	&__updated strong {
		color: $color-black-light;
		font-weight: $font-secondary-medium;
		font-size: 1.3rem;
	}

	&__owner {

	}

	&__status {
		color: $color-grey;
		line-height: 40px;
		vertical-align: middle;
		padding-left: 2rem;

		i {
			color: $color-grey;
		}
	}
}


// propuestas
// orientaciones
// actividades
// herramientas
// mediateca

.rd-card[data-rd-section="propuestas"],
.rd-card[rd-section="propuestas"],
.rd-card[data-rd-section="propuesta"],
.rd-card[rd-section="propuesta"] {
	.rd-card {
		&__body {
			padding-left: 6.8rem;
		}

		&__cover {
			// the size for images of 400x200
			height: 170px;
			overflow: hidden;
		}

		&__icon--circle {
			background-color: $color-white;
			border-radius: 50%;
			padding: 1rem;
			display: inline-block;
		}

		&__header--wrapper {
			transform: translateY(-13px);
		}

		&__body:before {
			content: '';
			position: absolute;
			left: 0px;
			top: 50%;
			transform: translateY(-50%);
			width: .5rem;
			height: 70%;
			background-color: $color-propuestas;
			border-radius: 100px;
		}
	}
}

.rd-card[data-rd-section="orientaciones"],
.rd-card[rd-section="orientaciones"],
.rd-card[data-rd-section="orientacion"],
.rd-card[rd-section="orientacion"] {
	.rd-card {
		
		&__thumbnail {
			position: relative;
			height: 7rem;
			width: 7rem;
			overflow: hidden;
			border-radius: $border-radius-default;

			img {
				display: block;
				margin: 0 auto;
				width: 100%;
				height: auto;
				border-radius: $border-radius-default;
			}
		}

		&__body:before {
			content: '';
			position: absolute;
			right: 0px;
			top: 50%;
			transform: translateY(-50%);
			width: .5rem;
			height: 70%;
			background-color: $color-orientaciones;
			border-radius: 100px;
		}
	}
}

.rd-card[data-rd-section="actividades"],
.rd-card[rd-section="actividades"],
.rd-card[data-rd-section="actividad"],
.rd-card[rd-section="actividad"] {
	.rd-card {
		
		&__thumbnail {
			position: relative;
			height: 7rem;
			width: 7rem;
			overflow: hidden;
			border-radius: $border-radius-default;

			img {
				display: block;
				margin: 0 auto;
				width: 100%;
				height: auto;
				border-radius: $border-radius-default;
			}
		}

		&__footer:before {
			content: '';
			position: absolute;
			bottom: 0px;
			left: 50%;
			transform: translateX(-50%);
			width: 70%;
			height: .5rem;
			background-color: $color-actividades;
			border-radius: 100px;
		}
	}
}

.rd-card[data-rd-section="herramientas"],
.rd-card[rd-section="herramientas"],
.rd-card[data-rd-section="herramienta"],
.rd-card[rd-section="herramienta"] {
	.rd-card {
	
		&__thumbnail {
			position: relative;
			height: 7rem;
			width: 7rem;
			overflow: hidden;
			border-radius: $border-radius-default;

			img {
				display: block;
				margin: 0 auto;
				width: 100%;
				height: auto;
				border-radius: $border-radius-default;
			}
		}

		&__body:before {
			content: '';
			position: absolute;
			right: 0px;
			top: 50%;
			transform: translateY(-50%);
			width: .5rem;
			height: 80%;
			background-color: $color-herramientas;
			border-radius: 100px;
		}

		&__footer {
			display: none;
		}
	}
}

.rd-card[data-rd-section="mediateca"],
.rd-card[rd-section="mediateca"],
.rd-card[data-rd-section="mediateca"],
.rd-card[rd-section="mediateca"] {
	.rd-card {
	
		&__thumbnail {
			position: relative;
			height: 7rem;
			width: 7rem;
			overflow: hidden;
			border-radius: $border-radius-default;

			img {
				display: block;
				margin: 0 auto;
				width: 100%;
				height: auto;
				border-radius: $border-radius-default;
			}
		}

		&__body:before {
			content: '';
			position: absolute;
			top: 0px;
			right: 15%;
			width: 50%;
			height: .5rem;
			background-color: $color-mediateca;
			border-radius: 100px;
		}

		&__footer {
			display: none;
		}
	}
}

@each $key, $section in $sections {
	.rd-card[data-rd-section="#{$key}"],
	.rd-card[rd-section="#{$key}"] {
		.rd-card__footer,
		.rd-card__icon,
		.rd-card__icon--circle,
		.rd-card__header--type {
			color: map-get($section, color);
		}
	}
}

.rd-card__addnew {

	.rd-card__wrapper {
		cursor: auto !important;
		border: dashed 1px $color-primary;
	}

	&--body {
		position: relative;
		padding: .5rem 1.8rem;
	}
}

.new-resource {
	
	&__list {
		list-style: none;
		padding: 0px;
	
		li {
			cursor: pointer;
			padding: .5rem 1rem;

			a {
				text-decoration: none;
			}
		}
	
		li:not(:last-child) {
			border-bottom: solid 1px $color-grey-light;
		}
	}

	&__list > li:hover &__item,
	&__list > li:focus &__item {
		color: $color-black
	}

	&__item {
		padding-left: 1rem;
		font-size: 1.8rem;
		color: $color-black-light;
	}

	&__button {
		position: absolute;
		cursor: pointer !important;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: $color-white;

		&--center {
			height: 15rem;
			width: 15rem;
			background-color: $color-primary;
			border-radius: 50%;
			@include centered;

			&::before {
				content: '';
				height: 8rem;
				width: 2rem;
				border-radius: .7rem;
				background-color: $color-white;
				@include centered;
			}

			&::after {
				content: '';
				height: 2rem;
				width: 8rem;
				border-radius: .7rem;
				background-color: $color-white;
				@include centered;
			}
		}
	}
}
