// <rd-navbar-item />
@each $key, $section in $sections {
	.rd-navbar__item[data-rd-section="#{$key}"],
	.rd-navbar__item[rd-section="#{$key}"] {
		&:active, &.rd-navbar__item--selected {
			.rd-navbar__item--icon {
				color: map-get($section, color);
			}
		}
	}
}

.navbar__dashboard {
	background-color: $color-dashboard-black;

	.navbar__logo--scrolled img {
		height: 73px;
	}

	.rd-navbar__nav--navigation {
		display: block !important;
		opacity: 1 !important;
	}
}