.post {
	
	&__content {
		list-style: none;
	}

	&__actions {
		padding: 1rem;
		border: $border-dashed-default;
		border-radius: $border-radius-default;
	}

	&__actions--wrapper {
		padding: .3rem;
	}

	&__actions--caption {
		font-size: 2rem;
		font-weight: $font-primary-light;

		span {
			font-weight: inherit;
		}
	}

	&__button {
		color: $color-white !important;
		background-color: $color-black-light !important;
	}

	&__button:disabled {
		background-color: $color-grey !important;
		color: $color-grey-light !important;
	}

	// modules
	&__divisor {
		margin-top: $gutter/2;
		margin-bottom: $gutter/2;
		border-top: solid 1px $color-grey-light;
	}

	&__image--gallery {
		& img {
			width: 100%;
		}
	}

	&__image--grid {
		& img {
			width: 100%;
		}
	}

	&__toolbar {
		position: absolute;
		visibility: hidden;
		top: 0;
		left: 0;
		width: 100%;
		background-color: rgba($color-grey-light, .7);
	}

	&__module {
		position: relative;
		border: solid 1px transparent;
				
		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}

	&__module--editable:hover {
		border-radius: $border-radius-default;
		border: dashed 1px $color-grey;
	}

	&__module--editable:hover &__toolbar {
		visibility: visible;
		cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
	}

}

.post-text {
	&__dialog {
		width: 80vw;
	}

	&__toolbar {
		color: $color-white !important;
		background-color: $color-black-light !important;
	}

	&__content {
		//padding: 1rem;
	}

	&--editor {
		padding-top: 48px;
	}
}

.post__text {
	&--editor {
		padding-top: 48px;
	}

	p, span, strong {
		text-align: justify;
		line-height: 22px !important;		
	}
}

.post-media {

	&__image--edition {
		img {
			width: 100%;
			height: auto;
		}

		h5 {
			margin-bottom: 1.2rem;
		}

		textarea {
			max-width: 100%;
			width: 100%;
		}
	}

	&__opstions {
		md-radio-button {
			display: inline-block !important;
		}
	}

}

// DRAG AND DROP
.rd-post {

	.dndDragging {
    opacity: 0.7;
	}

	/**
	* The dndDraggingSource class will be applied to the source element of a drag
	* operation. It makes sense to hide it to give the user the feeling that he's
	* actually moving it. Note that the source element has also .dndDragging class.
	*/
	.dndDraggingSource {
		display: none;
	}

	/**
	* An element with .dndPlaceholder class will be added as child of the dnd-list
	* while the user is dragging over it.
	*/
	.dndPlaceholder {
		border-radius: $border-radius-default;
		display: block;
		border: dashed 1px $color-primary;
		min-height: 6rem;
		margin: 1rem 0px;
	}

	/***************************** Element Selection *****************************/

	.selected .item {
		color: #3c763d;
		background-color: #dff0d8;
	}

	.selected .box {
		border-color: #d6e9c6;
	}

	.selected .box > h3 {
		background-color: #dff0d8;
		background-image: linear-gradient(to bottom,#dff0d8 0,#d0e9c6 100%);
		border-color: #d6e9c6;
		color: #3c763d;
	}

	/***************************** Element type specific styles *****************************/

	.item {
		padding: 10px 15px;
	}

	.container-element {
		margin: 10px;
	}

	.container-element .column {
		float: left;
		width: 50%;
	}

	/***************************** Toolbox *****************************/

	.toolbox ul {
		cursor: move;
		list-style: none;
		padding-left: 0px;
	}

	.toolbox button {
		margin: 5px;
		opacity: 1.0;
		width: 123px;
	}

	.toolbox .dndDragging {
		opacity: 0.5;
	}

	.toolbox .dndDraggingSource {
		opacity: 1.0;
	}

	/***************************** Trashcan *****************************/

	.trashcan ul {
		list-style: none;
		padding-left: 0px;
	}

	.trashcan img {
		width: 100%;
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		filter: grayscale(100%);
	}

	.trashcan .dndDragover img {
		width: 100%;
		-webkit-filter: none;
		-moz-filter: none;
		filter: none;
	}

	.trashcan .dndPlaceholder {
		display: none;
	}
}